.banner {
  padding: 16px;

  background-color: var(--color-background-secondary);
  background-image: repeating-linear-gradient(
    115deg,
    var(--color-background-primary) 0 24px,
    var(--color-background-secondary) 24px 48px
  );
  border-block-end: 1px solid var(--color-border-primary);
}
