.language-switcher {
  position: relative;
}

.language-switcher__button {
  display: flex;

  column-gap: 0.25rem;
  align-items: center;

  padding: 0 0.5rem;
  margin: 0;

  font: inherit;

  color: inherit;

  cursor: pointer;

  background-color: transparent;
  border: none;

  &:is(:hover, :focus, [aria-expanded="true"]) {
    background-color: var(--color-background-secondary);
  }

  @media screen and (width <= 480px) {
    > span {
      display: none;
    }
  }

  &::before {
    width: 1.25rem;
    height: 1.25rem;

    content: "";

    background-color: currentcolor;

    mask-image: url("../icon/languages.svg");
    mask-size: cover;
  }
}

.language-switcher__dropdown {
  position: absolute;
  right: 0;
  z-index: 1;

  width: max-content;

  padding: 0.75rem;
  margin: 0;

  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-primary);
}

.language_switcher__remember {
  display: flex;

  place-items: center;

  width: 100%;

  font-size: var(--font-size-small);

  border-bottom: 1px solid var(--color-border-primary);

  mdn-switch {
    padding: 0.25rem;

    &:hover {
      background-color: var(--color-background-secondary);
    }
  }
}

.language-switcher__list {
  width: 100%;

  padding: 0;
  margin: 0;

  list-style: none;

  background-color: var(--color-background-primary);
}

.language-switcher__option {
  display: flex;

  column-gap: 0.25rem;
  align-items: center;

  width: 100%;

  padding: 0.25rem;
  margin: 0;

  font: inherit;

  color: var(--color-text-primary);

  text-decoration: none;

  background-color: transparent;
  border: none;

  &:hover,
  &[data-current] {
    background-color: var(--color-background-secondary);
  }
}
