:root {
  --top-banner-height: 3.375rem;
  --sticky-header-height: calc(
    var(--top-nav-height) + var(--breadcrumbs-bar-height)
  );

  --z-index-sticky-header: 100;
  --z-index-sidebar-mobile: 90;
}
