/* Observatory main layout */

.obs-layout {
  --spacing: 2rem;

  /* colors */

  --text-primary: light-dark(#1b1b1b, #ffffff);
  --text-secondary: light-dark(#4e4e4e, #cdcdcd);

  --observatory-bg: light-dark(rgb(242 242 245 / 100%), rgb(52 52 52 / 100%));
  --observatory-bg-code: light-dark(#e1e1e1, #4d4d4d);
  --observatory-bg-secondary: light-dark(
    rgb(255 255 255 / 100%),
    rgb(0 0 0 / 100%)
  );
  --observatory-color: light-dark(#000000, #ffffff);
  --observatory-color-secondary: light-dark(
    rgb(105 105 105 / 100%),
    rgb(249 249 251 / 100%)
  );
  --observatory-inverse-color: light-dark(
    rgb(255 255 255 / 100%),
    rgb(27 27 27)
  );
  --observatory-inverse-color-secondary: light-dark(
    rgb(179 179 179 / 100%),
    rgb(105 105 105 / 100%)
  );
  --observatory-accent: light-dark(#5a23d7, #a388ff);
  --observatory-accent-light: light-dark(#5a23d7aa, #a388ffaa);
  --observatory-border: light-dark(
    rgb(228 228 246 / 100%),
    rgb(105 105 105 / 100%)
  );
  --observatory-border-accent: light-dark(
    rgb(90 35 215 / 100%),
    rgb(163 136 255 / 100%)
  );
  --observatory-pass-icon-bg: light-dark(
    rgb(229 250 230 / 100%),
    rgb(38 92 61 / 100%)
  );
  --observatory-pass-icon-color: light-dark(
    rgb(0 121 54 / 100%),
    rgb(138 255 163 / 100%)
  );
  --observatory-fail-icon-bg: light-dark(
    rgb(250 229 229 / 100%),
    rgb(92 38 38 / 100%)
  );
  --observatory-fail-icon-color: light-dark(
    rgb(211 0 56 / 100%),
    rgb(255 121 155 / 100%)
  );
  --observatory-table-bg: light-dark(rgb(255 255 255 / 100%), rgb(27 27 27));
  --observatory-table-bg-alternate: light-dark(#f9f9fb, #212121);
  --observatory-table-header-bg: light-dark(
    rgb(249 249 251 / 100%),
    rgb(27 27 27)
  );
  --observatory-grade-a-bg: light-dark(#d2fadd, #265c3d);
  --observatory-grade-a-border: light-dark(#017a37, #89fca1);
  --observatory-grade-b-bg: light-dark(#e8fad2, #52662a);
  --observatory-grade-b-border: light-dark(#547a01, #d5fc88);
  --observatory-grade-c-bg: light-dark(#faf8d2, #66602a);
  --observatory-grade-c-border: light-dark(#7a7001, #fcf988);
  --observatory-grade-d-bg: light-dark(#fae8d2, #5c3d26);
  --observatory-grade-d-border: light-dark(#a65001, #ff6a00);
  --observatory-grade-f-bg: light-dark(#fad2d2, #5c2626);
  --observatory-grade-f-border: light-dark(#aa0000, #fc8888);
  --observatory-arrow-down-color: light-dark(
    rgb(158 0 39 / 100%),
    rgb(255 112 127 / 100%)
  );
  --observatory-arrow-up-color: light-dark(
    rgb(0 121 54 / 100%),
    rgb(0 255 106 / 100%)
  );

  --form-invalid-color: light-dark(#d30038, #ff97a0);

  --font-body: inter, var(--font-fallback);

  /* icons */
  --alert-circle-img: url("./assets/alert-circle.svg");
}

/* landing */
.obs-landing-top {
  display: grid;

  grid-template-areas: "form svg auto";
  grid-template-columns: 2fr 1fr minmax(0, 200px);

  gap: 0 6.25rem;

  max-width: var(--max-width);

  padding-block: 0.75rem;
  padding-inline: 1rem;

  color: var(--observatory-color-secondary);

  background: var(--observatory-bg-secondary);

  @media (width > 1440px) {
    padding-inline: calc((100% - 1440px + (1rem * 2)) / 2);
  }
  --border-radius: 0.3rem;

  @media (width <= 1199px) {
    grid-template-areas: "form svg";
    grid-template-columns: auto;
  }

  @media (width <= 767px) {
    grid-template-areas: "form" "svg";

    .landing-illustration {
      text-align: center;
    }
  }

  .accent {
    color: var(--observatory-accent);
  }
}

.obs-landing-top__form {
  grid-area: form;
  --progress-color: var(--observatory-accent);

  p {
    margin: 1rem 0 2rem;
  }
}

.obs-landing-top__illustration {
  grid-area: svg;

  svg {
    width: auto;
    max-width: 50vw;
    height: 100%;
  }

  @media (width <= 767px) {
    text-align: center;
  }
}

.obs-landing-about {
  padding-block: 0.75rem;
  padding-inline: 1rem;

  @media (width > 1440px) {
    padding-inline: calc((100% - 1440px + (1rem * 2)) / 2);
  }

  background: var(--observatory-bg);

  p {
    color: var(--observatory-color-secondary);
  }

  h1,
  h2 {
    font-style: normal;
    font-weight: 600;
    letter-spacing: var(--heading-letter-spacing);
  }

  h2 {
    margin-bottom: 2rem;
  }

  /*
  $screen-sm: 426px;
  $screen-md: 769px;
  $screen-lg: 992px;
  $screen-xl: 1200px;
  $screen-xxl: 1441px;
   */

  @media (width >= 769px) {
    .assessment {
      margin-left: 0;
    }

    .scanning {
      margin-left: 3.125rem;
    }

    .security {
      margin-left: 6.25rem;
    }

    .mdn {
      margin-left: 9.75rem;
    }
  }

  @media (width <= 768px) {
    figure ~ figure {
      margin-top: 1.75rem;
    }

    .lines {
      display: none;
    }
  }

  @media (width >= 769px) and (width <= 991px) {
    .about-copy {
      width: 80%;
    }
  }

  svg defs#defs3 #gradient {
    stop#stop1 {
      stop-color: var(--observatory-accent);
    }

    stop#stop2 {
      stop-color: color-mix(
        in srgb,
        var(--observatory-accent),
        var(--observatory-bg)
      );
    }

    stop#stop3 {
      stop-color: var(--observatory-bg);
    }
  }

  figure {
    display: grid;

    grid-template-columns: 2rem 1fr;

    gap: 1.5rem;
    align-items: start;

    figcaption {
      p {
        margin: 0;
        color: var(--observatory-color);
      }
    }

    &.assessment {
      margin-left: 0;
    }

    &.assessment,
    &.scanning,
    &.security,
    &.mdn {
      svg path {
        fill: var(--observatory-accent);
      }
    }
  }
}

.obs-links__link {
  display: inline-block;

  margin-top: 2rem;
  margin-right: 1rem;

  font-size: var(--type-tiny-font-size);

  color: var(--observatory-color-secondary);

  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &::before {
    display: inline-block;

    width: 1.5em;
    height: 1.5em;

    margin-right: 0.2em;

    vertical-align: middle;

    content: "";

    background-color: var(--observatory-color-secondary);

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }
}

.obs-links__link--faq {
  &::before {
    mask-image: url("../components/icon/message-question.svg");
  }
}

.obs-links__link--feedback {
  &::before {
    mask-image: url("../components/icon/feedback.svg");
  }
}

/* results */
.obs-results {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "sidebar";
  grid-template-columns: 1fr minmax(0, 200px);

  row-gap: 0;
  column-gap: 3rem;

  max-width: var(--max-width);

  padding-block: 0.75rem;
  padding-inline: 1rem;

  color: var(--color-text-primary);

  background: var(--observatory-bg);

  @media (width > 1440px) {
    padding-inline: calc((100% - 1440px + (1rem * 2)) / 2);
  }

  --summary-icon: url("assets/summary-icon.svg");
  --results-icon: url("assets/results-icon.svg");
  --border-radius: 0.3rem;

  @media (width >= 767px) {
    grid-template-areas: "header sidebar" "main sidebar";
    grid-template-columns: minmax(0, 1fr) 12rem;
    column-gap: 1rem;

    section.header,
    section.main {
      padding: 0;
    }
  }

  @media (width >= 1199px) {
    grid-template-areas: "header sidebar" "main sidebar";
    grid-template-columns: 2fr minmax(0, 200px);
    column-gap: 3rem;
  }
}

.obs-results__header {
  display: flex;

  flex-wrap: wrap;

  grid-area: header;

  gap: 1.5rem;
  align-items: start;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}

.obs-results__feedback {
  .obs-links__link {
    margin-top: 1.5rem;
  }
}

.obs-results__mdn-results {
  grid-area: main;
}

.obs-toc {
  grid-area: sidebar;
  padding: 0;
  margin-bottom: 2rem;
}

h2.obs-toc__heading {
  margin: 0 0 1rem;
  margin-top: 1.5rem;

  font: var(--type-heading-h5);
  font-size: var(--type-base-font-size-rem);

  color: var(--color-text-secondary);

  letter-spacing: 1.5px;
}

.obs-toc__list {
  display: inline-block;

  padding: 0.5rem 1rem;

  font-size: var(--type-smaller-font-size);

  color: var(--color-text-secondary);

  text-decoration: none;

  list-style: none;

  border-left: 2px solid var(--color-border-secondary);
}

.obs-toc__item {
  padding: 0.5rem 0;
  color: var(--color-text-secondary);

  a {
    color: var(--color-text-secondary);
    text-decoration: none;
  }
}

/*
.obs-results__title {
}
*/

.obs-results__title-accent {
  color: var(--observatory-accent);
}
