/* Observatory main layout */

.obs-layout {
  --spacing: 2rem;

  --progress-color: var(--observatory-accent);

  --observatory-accent: light-dark(
    var(--color-purple-dark),
    var(--color-purple-light)
  );
  --observatory-accent-light: light-dark(
    var(--color-purple-dark),
    var(--color-purple-light)
  );

  --observatory-pass-icon-bg: light-dark(
    var(--color-green-light-super),
    var(--color-green-dark)
  );
  --observatory-pass-icon-color: light-dark(
    var(--color-green),
    var(--color-green-light)
  );
  --observatory-fail-icon-bg: light-dark(
    var(--color-red-light-super),
    var(--color-red-dark-super)
  );
  --observatory-fail-icon-color: light-dark(
    var(--color-red),
    var(--color-red-light)
  );

  --observatory-table-bg: light-dark(var(--color-white), var(--color-gray-9));
  --observatory-table-bg-alternate: light-dark(
    var(--color-gray-1),
    var(--color-gray-8)
  );
  --observatory-table-header-bg: light-dark(
    var(--color-gray-1),
    var(--color-gray-9)
  );

  --observatory-grade-a-bg: light-dark(
    var(--color-green-light-super),
    var(--color-green-dark-super)
  );
  --observatory-grade-a-border: light-dark(
    var(--color-green),
    var(--color-green-light)
  );
  --observatory-grade-b-bg: light-dark(
    var(--color-yellow-light-super),
    var(--color-yellow-dark-super)
  );
  --observatory-grade-b-border: light-dark(
    var(--color-yellow),
    var(--color-yellow-light)
  );
  --observatory-grade-c-bg: light-dark(
    var(--color-yellow-light-super),
    var(--color-yellow-dark-super)
  );
  --observatory-grade-c-border: light-dark(
    var(--color-yellow-dark),
    var(--color-yellow)
  );
  --observatory-grade-d-bg: light-dark(
    var(--color-orange-light-super),
    var(--color-orange-dark-super)
  );
  --observatory-grade-d-border: light-dark(
    var(--color-orange),
    var(--color-orange)
  );
  --observatory-grade-f-bg: light-dark(
    var(--color-red-light-super),
    var(--color-red-dark-super)
  );
  --observatory-grade-f-border: light-dark(
    var(--color-red),
    var(--color-red-light)
  );
  --observatory-arrow-down-color: light-dark(
    var(--color-red-dark),
    var(--color-red-light)
  );
  --observatory-arrow-up-color: light-dark(
    var(--color-green),
    var(--color-green-light)
  );

  --form-invalid-color: light-dark(var(--color-red), var(--color-red-light));

  --font-body: inter, var(--font-fallback);

  /* icons */
  --alert-circle-img: url("./assets/alert-circle.svg");
}

/* landing */
.obs-landing-top {
  display: grid;

  grid-template-areas: "form svg auto";
  grid-template-columns: 2fr 1fr minmax(0, 200px);

  gap: 0 6.25rem;

  max-width: var(--max-width);

  padding-block: 0.75rem;
  padding-inline: 1rem;

  @media (width > 1440px) {
    padding-inline: calc((100% - 1440px + (1rem * 2)) / 2);
  }
  --border-radius: 0.3rem;

  @media (width <= 1199px) {
    grid-template-areas: "form svg";
    grid-template-columns: auto;
  }

  @media (width <= 767px) {
    grid-template-areas: "form" "svg";

    .landing-illustration {
      text-align: center;
    }
  }

  .accent {
    color: var(--observatory-accent);
  }
}

.obs-landing-top__form {
  grid-area: form;

  p {
    margin: 1rem 0 2rem;
  }
}

.obs-landing-top__illustration {
  grid-area: svg;

  svg {
    width: auto;
    max-width: 50vw;
    height: 100%;
  }

  @media (width <= 767px) {
    text-align: center;
  }
}

.obs-landing-about {
  padding-block: 0.75rem;
  padding-inline: 1rem;

  @media (width > 1440px) {
    padding-inline: calc((100% - 1440px + (1rem * 2)) / 2);
  }

  color: var(--color-text-secondary);

  background: var(--color-background-secondary);

  p {
    color: var(--color-text-secondary);
  }

  h1,
  h2 {
    font-style: normal;
    font-weight: 600;
    letter-spacing: var(--heading-letter-spacing);
  }

  h2 {
    margin-bottom: 2rem;
  }

  @media (width >= 769px) {
    .assessment {
      margin-left: 0;
    }

    .scanning {
      margin-left: 3.125rem;
    }

    .security {
      margin-left: 6.25rem;
    }

    .mdn {
      margin-left: 9.75rem;
    }
  }

  @media (width <= 768px) {
    figure ~ figure {
      margin-top: 1.75rem;
    }

    .lines {
      display: none;
    }
  }

  @media (width >= 769px) and (width <= 991px) {
    .about-copy {
      width: 80%;
    }
  }

  svg defs#defs3 #gradient {
    stop#stop1 {
      stop-color: var(--observatory-accent);
    }

    stop#stop2 {
      stop-color: color-mix(
        in srgb,
        var(--observatory-accent),
        var(--color-background-secondary)
      );
    }

    stop#stop3 {
      stop-color: var(--color-background-secondary);
    }
  }

  figure {
    display: grid;

    grid-template-columns: 2rem 1fr;

    gap: 1.5rem;
    align-items: start;

    figcaption {
      p {
        margin: 0;
        color: var(--color-text-primary);
      }
    }

    &.assessment {
      margin-left: 0;
    }

    &.assessment,
    &.scanning,
    &.security,
    &.mdn {
      svg path {
        fill: var(--observatory-accent);
      }
    }
  }
}

.obs-links__link {
  display: inline-block;

  margin-top: 2rem;
  margin-right: 1rem;

  font-size: var(--type-tiny-font-size);

  color: var(--color-text-secondary);

  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &::before {
    display: inline-block;

    width: 1.5em;
    height: 1.5em;

    margin-right: 0.2em;

    vertical-align: middle;

    content: "";

    background-color: var(--color-text-secondary);

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover;
  }
}

.obs-links__link--faq {
  &::before {
    mask-image: url("../components/icon/message-question.svg");
  }
}

.obs-links__link--feedback {
  &::before {
    mask-image: url("../components/icon/feedback.svg");
  }
}

/* results */
.obs-results {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "sidebar";
  grid-template-columns: 1fr minmax(0, 200px);

  row-gap: 0;
  column-gap: 3rem;

  max-width: var(--max-width);

  padding-block: 0.75rem;
  padding-inline: 1rem;

  color: var(--color-text-primary);

  background: var(--color-background-secondary);

  @media (width > 1440px) {
    padding-inline: calc((100% - 1440px + (1rem * 2)) / 2);
  }

  --summary-icon: url("assets/summary-icon.svg");
  --results-icon: url("assets/results-icon.svg");
  --border-radius: 0.3rem;

  @media (width >= 767px) {
    grid-template-areas: "header sidebar" "main sidebar";
    grid-template-columns: minmax(0, 1fr) 12rem;
    column-gap: 1rem;

    section.header,
    section.main {
      padding: 0;
    }
  }

  @media (width >= 1199px) {
    grid-template-areas: "header sidebar" "main sidebar";
    grid-template-columns: 2fr minmax(0, 200px);
    column-gap: 3rem;
  }
}

.obs-results__header {
  display: flex;

  flex-wrap: wrap;

  grid-area: header;

  gap: 1.5rem;
  align-items: start;
  justify-content: space-between;
}

.obs-results__feedback {
  .obs-links__link {
    margin-top: 1.5rem;
  }
}

.obs-results__mdn-results {
  grid-area: main;
}

.obs-toc {
  grid-area: sidebar;
  padding: 0;
  margin-bottom: 2rem;
}

h2.obs-toc__heading {
  margin: 0 0 1rem;
  margin-top: 1.5rem;

  font: var(--type-heading-h5);
  font-size: var(--type-base-font-size-rem);

  color: var(--color-text-secondary);

  letter-spacing: 1.5px;
}

.obs-toc__list {
  display: inline-block;

  padding: 0.5rem 1rem;

  font-size: var(--type-smaller-font-size);

  color: var(--color-text-secondary);

  text-decoration: none;

  list-style: none;

  border-left: 2px solid var(--color-border-secondary);
}

.obs-toc__item {
  padding: 0.5rem 0;
  color: var(--color-text-secondary);

  a {
    color: var(--color-text-secondary);
    text-decoration: none;
  }
}

/*
.obs-results__title {
}
*/

.obs-results__title-accent {
  color: var(--observatory-accent);
}
