@import url("../definition-list/index.css");
@import url("../formal-definition/index.css");
@import url("../prev-next/index.css");

/* Generic Layout */
.generic-layout {
  display: grid;

  grid-template-columns: var(--layout-2-sidebars);
  grid-auto-flow: dense;

  padding-inline: var(--layout-side-padding);

  @media (--screen-layout-1-sidebar-or-less) {
    grid-template-columns: var(--layout-1-sidebar-left);

    .generic-layout__toc {
      display: none;
    }
  }

  @media (--screen-layout-no-sidebar) {
    grid-template-columns: var(--layout-no-sidebar);

    .generic-layout__sidebar {
      display: none;
    }
  }
}

/* Sidebar */
.generic-layout__sidebar {
  grid-column: left-sidebar;

  /* grid-row: 1; */
}

/* Content */
.generic-layout__content {
  grid-column: content;

  /* grid-row: 1; */
}

/* TOC */
.generic-layout__toc {
  grid-column: right-sidebar;

  /* grid-row: 1; */
}
