# https://github.com/mdn/content
CONTENT_ROOT=../content/files
# https://github.com/mdn/translated-content
CONTENT_TRANSLATED_ROOT=../translated-content/files
# https://github.com/mdn/mdn-studio
BLOG_ROOT=../mdn-studio/content/posts
# https://github.com/mdn/curriculum/
CURRICULUM_ROOT=../curriculum
# https://github.com/mdn/mdn-contributor-spotlight
CONTRIBUTOR_SPOTLIGHT_ROOT=../mdn-contributor-spotlight/contributors
# https://github.com/mdn/generic-content
GENERIC_CONTENT_ROOT=../generic-content/files
