:host {
  font: 400 var(--base-font-size) var(--font-body);
  --border-radius: 0.3rem;
  --progress-color: var(--observatory-accent);
}

.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;

  padding: 0 !important;
  margin: -1px !important;

  overflow: hidden !important;

  white-space: nowrap !important;

  border: 0 !important;

  clip-path: inset(50%) !important;
}

.input-group {
  display: flex;
  height: 3rem;

  :focus-visible {
    outline: 1px solid var(--observatory-accent);
    outline-width: 1px;
    outline-offset: -1px;
  }

  ::placeholder {
    color: var(--observatory-color-secondary);
    opacity: 0.8;
  }

  input {
    flex-grow: 1;

    width: 100%;

    padding: 0 0.75rem;

    font: inherit;

    background-color: var(--observatory-bg);
    border: 1px solid var(--observatory-border);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    &::placeholder {
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    padding: 0 2rem;

    font: var(--type-emphasis-m);
    font-size: 1rem;

    color: var(--background-primary);

    appearance: none;
    cursor: pointer;

    background: var(--button-primary-default);
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    &:hover {
      background: var(--button-primary-hover);
    }

    &:active {
      background: var(--button-primary-active);
    }
  }
}

.error {
  margin-top: 0.5rem;
  color: var(--form-invalid-color);

  &::before {
    display: inline-block;

    width: 1.5em;
    height: 1.15rem;

    margin-right: 0.5rem;
    margin-bottom: 0.25rem;

    vertical-align: middle;

    content: "";

    background-color: var(--form-invalid-color);

    mask-image: var(--alert-circle-img);
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
