/** Content feedback. */

.content-feedback {
  padding: 0;
  margin: 0;
  margin-bottom: 0.25rem;

  border: none;

  > label {
    display: block;
    margin-bottom: 0.25rem;
  }

  .thank-you {
    display: block;
    margin-bottom: calc(2.75rem + 2px);
  }

  mdn-button {
    /* Ensure both buttons have same size. */
    flex: 1;
    min-width: 0;

    &:not(:hover) {
      --button-bg: var(
        --color-background-secondary,
        light-dark(#f9f9f9, #313131)
      );
      --button-color: var(--color-text-primary, light-dark(#1b1b1b, #ffffff));
    }

    &[data-vote="yes"] {
      --button-bg-hover: var(
        --color-text-primary-green,
        light-dark(#007936, #00d061)
      );
    }

    &[data-vote="no"] {
      --button-bg-hover: var(
        --color-text-primary-red,
        light-dark(#d30038, #ff97a0)
      );
    }
  }
}

.content-feedback--buttons {
  /* Ensure both buttons take minimal width. */
  display: inline-flex;
  gap: 0.75rem;
  margin: 0.25rem 0;
}

.content-feedback--radios {
  display: flex;

  gap: 0.25rem;
  align-items: center;

  margin: 0.25rem 0;
}
