*,
::before,
::after {
  box-sizing: border-box;
}

dialog {
  padding: 0;
  border: 1px solid var(--color-border-primary);
  border-radius: 0.5rem;

  /* Desktop menu */
  @media (width > 1006px) {
    width: calc(var(--layout-content-max) + 1rem);
    max-height: calc(100% - var(--sticky-header-height) - 1rem);
    margin: calc(var(--sticky-header-height) + 0.5rem) auto 0.5rem;
  }

  /* Mobile menu */
  @media (width <= 1006px) {
    width: 100%;
    max-height: calc(100% - 1rem);
    margin: 0.5rem;
  }

  &[open] {
    display: flex;
    flex-direction: column;
  }

  &::backdrop {
    background-color: var(--color-background-page);
    opacity: 0.75;
    backdrop-filter: blur(5px);
  }
}

form {
  display: flex;

  flex-direction: row;

  gap: 0.5ch;
  place-items: center;

  padding: 1rem;

  font-size: var(--font-size-large);
}

input {
  flex-grow: 1;
  flex-shrink: 1;

  font-size: inherit;

  outline: none;

  background-color: transparent;
  border: none;
}

.search-icon {
  display: inline-block;

  flex-shrink: 0;

  width: 1em;
  height: 1em;

  margin: 0 0.5rem;

  content: "";

  background-color: var(--color-border-secondary);

  mask-image: url("../icon/search.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
}

ul {
  margin: 0;
  overflow: auto;

  &:has(li) {
    padding: 0.5rem 0;
    border-top: 1px solid var(--color-border-primary);
  }
}

li[data-selected] {
  background: var(--color-background-blue);
}

li {
  list-style-type: none;

  &:not([data-selected]):hover {
    background-color: var(--color-background-secondary);
  }
}

li > * {
  width: 100%;
  padding: 0.5rem 1.5rem;
}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.title {
  font-size: 1.25rem;
}

.slug {
  font-size: var(--font-size-small);
  color: var(--color-text-secondary);
}

mark {
  color: unset;
  background-color: var(--color-background-yellow);
}
