.reference-toc {
    position: sticky;
    top: 0px;
    h2 {
        margin: 0;
        padding: 0.75rem 0;
        font-weight: normal;
        font-size: 1.5rem;
    }

    ul {
        display: grid;
        margin: 0;
        padding: 0;
        list-style: none;

        ul {
            padding-left: 1rem;
        }
    }

    a {
        display: block;
        padding: 0.5rem;
        color: inherit;
        text-decoration: none;

        &:hover:not([aria-current="true"]) {
            color: var(--link-normal);
        }

        &[aria-current="true"] {
            box-shadow: -2px 0 0 var(--blue);
            background-color: var(--background-blue);
        }
    }
}
