:root {
  --layout-side-padding: max(1rem, calc((100vw - 1440px + (2rem)) / 2));
  --layout-full-width: calc(100vw - 2 * var(--layout-side-padding));

  /* WARNING: TODO: left/center/right cols widths will change */

  /* prettier-ignore */
  --layout-3-col:
    [full-start   left-start  center-left-start]
      minmax(250px, 1fr)
    [center-start left-end    center-right-start]
      minmax(0, 3fr)
    [center-end   right-start center-left-end]
      minmax(250px, 1fr)
    [full-end     right-end   center-right-end];

  /* prettier-ignore */
  --layout-3-col-extended:
    [extended-full-start]
      var(--layout-side-padding)
    [full-start   left-start  center-left-start]
      minmax(250px, 1fr)
    [center-start left-end    center-right-start]
      minmax(0, 3fr)
    [center-end   right-start center-left-end]
      minmax(250px, 1fr)
    [full-end     right-end   center-right-end]
      var(--layout-side-padding)
    [extended-full-end];
}
