/* Mobile */

@media (width <= 1006px) {
  /* Login link */

  .user-menu__login {
    display: block;

    padding: 0.9rem 0.7rem;

    line-height: 1.25rem;

    border-top: 1px solid var(--color-border-primary);

    &:hover {
      color: var(--color-text-blue);
      background-color: var(--color-background-blue);
    }
  }

  /* User menu dropdown */

  .user-menu__button {
    display: flex;

    align-items: center;

    width: 100%;

    padding: 0.5rem 0.7rem;

    background-color: transparent;
    border: none;
    border-top: 1px solid var(--color-border-primary);

    &::before,
    &::after {
      width: 1.25rem;
      height: 1.25rem;

      margin-left: auto;

      background-color: currentcolor;

      mask-size: cover;
    }

    /* Arrow */

    &::after {
      content: "";
      mask-image: url("../icon/chevron-down.svg");
    }

    /* Opened */

    &[aria-expanded="true"] {
      background-color: var(--color-background-blue);

      &::after {
        scale: -1;
      }
    }
  }

  .user-menu__dropdown {
    padding: 0.5rem 0.7rem;
  }
}
