/* layout */
.curriculum-module,
.curriculum-overview {
  display: grid;
  grid-template-columns: var(--layout-2-sidebars);
  padding-inline: var(--layout-side-padding);

  .curriculum-content {
    grid-column: content;
  }

  .sidebar-container {
    grid-column: left-sidebar;
  }

  .toc-container {
    grid-column: right-sidebar;
  }

  @media (--screen-layout-1-sidebar-or-less) {
    grid-template-columns: var(--layout-1-sidebar-left);

    .toc {
      display: none;
    }
  }

  @media (--screen-layout-no-sidebar) {
    grid-template-columns: var(--layout-no-sidebar);

    .sidebar-container {
      position: fixed;
      inset: 0;
      top: var(--sticky-header-height);
      z-index: var(--z-index-sidebar-mobile);

      display: none;

      background: var(--color-background-page);

      .sidebar-inner {
        padding: 1rem;
      }
    }
  }
}
