.curriculum-content-container.curriculum-module {
  .curriculum-content {
    > header {
      display: grid;

      grid-template-areas:
        ". group"
        "icon heading"
        "icon category";

      column-gap: 1.5rem;
      justify-content: flex-start;

      .topic-icon {
        --background-primary: var(--curriculum-bg-color-topic);
        grid-area: icon;

        align-self: flex-start;

        width: 4rem;
        height: 4rem;

        + h1 {
          grid-area: heading;
          margin-bottom: 0;
        }
      }

      p.module-topic {
        grid-area: category;

        margin: 0;
        margin-top: 0.5rem;

        font-size: var(--font-size-normal);

        color: var(--curriculum-color-topic);

        &::before {
          content: "Category: ";
        }
      }

      p.module-group {
        grid-area: group;

        align-self: center;

        width: fit-content;
        height: max-content;

        padding: 0.125rem 0.5rem;
        margin: 0;
        margin-bottom: 0.25rem;

        font-size: var(--font-size-normal);

        color: var(--curriculum-module-label-color);

        background-color: var(--curriculum-module-label-bg-color);
        border-radius: var(--elem-radius);
      }
    }

    p.curriculum-resources {
      margin-top: 2rem;
      margin-bottom: 0.5rem;

      + ul {
        padding-left: 2rem;

        > li {
          list-style-image: var(--curriculum-module-mdn-resource);

          &.curriculum-external-li {
            list-style-image: url("./assets/curriculum-ext-resource.svg");
          }

          em {
            display: inline-block;

            padding: 0 0.4em;

            font-size: 0.5rem;
            font-weight: bold;

            line-height: var(--font-line-content);
            vertical-align: super;

            color: var(--color-text-primary);

            text-transform: uppercase;

            background: var(--curriculum-bg-color);
            border-radius: 1em;
            text-rendering: optimizelegibility;
          }
        }
      }
    }
  }
}
