.external::after {
  display: inline-block;

  width: 1em;
  height: 1em;

  margin-left: 0.25em;

  vertical-align: text-top;

  /*
    Unicode zero width space as `<content replacement>` to expose the alt text in the a11y tree.
    See: https://bugzilla.mozilla.org/show_bug.cgi?id=1976574
  */
  content: "\200b" / " (external)";

  background-color: currentcolor;

  mask-image: url("../icon/external-link.svg");
  mask-size: cover;
}
