.external {
  &::after {
    display: inline-block;

    width: 1em;
    height: 1em;

    margin-left: 0.25em;

    content: "" / " (external)";

    background-color: currentcolor;

    mask-image: url("../icon/external-link.svg");
    mask-size: cover;
  }
}
