.generic-toc {
  position: sticky;
  top: var(--sticky-header-height);

  .generic-toc__header {
    margin: 0 0 1rem;

    font-size: var(--font-size-large);
    font-weight: 400;

    line-height: 1.2;

    color: var(--color-text-secondary);

    letter-spacing: 1.5px;
  }

  .generic-toc__list {
    padding-left: 0;
    font-size: var(--font-size-small);
    list-style: none;
  }

  .generic-toc__item {
    margin: 0;
  }

  .generic-toc__link {
    display: inline-block;

    padding: 0.5rem 1rem;

    color: var(--color-text-secondary);

    text-decoration: none;

    border-left: 2px solid var(--color-border-items);

    &:hover,
    &:active {
      color: var(--color-accent);
    }

    &[aria-current="true"] {
      font-weight: 600;

      background-color: var(--color-background-accent);
      border-left: 2px solid var(--color-accent);
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  em {
    align-items: baseline;

    padding: 0.25em 0;

    font-style: normal;

    background-color: var(--color-background-accent);
    border-left: 2px solid var(--color-accent);
  }
}

.generic-toc--plus {
  --color-accent: var(--color-text-red);
  --color-background-accent: var(--color-background-red);
}

.generic-toc--observatory {
  --color-accent: var(--color-text-purple);
  --color-background-accent: var(--color-background-purple);
}
