.collection-save-button {
  display: flex;

  column-gap: 0.25rem;
  align-items: center;

  padding: 0 0.5rem;
  margin: 0;

  font: inherit;

  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--color-background-secondary);
  }

  svg {
    fill: var(--color-text-primary);
  }

  @media (--screen-small-and-narrower) {
    > span {
      display: none;
    }
  }
}

label {
  display: block;
}
