@import url("../visually-hidden/global.css");
@import url("../global/global.css");

:host {
  display: grid;

  grid-template-areas: "icon input button";
  grid-template-columns: 2.2rem 1fr min-content;

  align-items: center;
}

.icon {
  grid-area: icon;

  justify-self: center;

  width: 1.25rem;
  height: 1.25rem;

  margin-left: 0.4rem;

  content: "";

  background-color: var(--color-text-secondary);

  mask-image: url("../icon/filter.svg");
  mask-size: cover;
}

.input {
  grid-area: 1 / 1 / -1 / -1;

  width: 100%;

  padding: 0.3rem 4.2rem 0.3rem 2.2rem;
  margin: 0;

  background-color: transparent;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-full);

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:focus {
    border-color: transparent;
  }
}

.counter {
  grid-area: input;

  justify-self: end;

  padding: 0.25rem;

  font-size: var(--font-size-small);

  line-height: var(--font-line-ui);

  white-space: nowrap;

  background-color: var(--color-background-yellow);
  border-radius: var(--radius-normal);
}

.button {
  grid-area: button;

  &::part(button) {
    border-radius: 50%;
  }

  &::part(button):hover {
    background-color: transparent;
  }

  :placeholder-shown ~ & {
    visibility: hidden;
  }
}
