@import url("../visually-hidden/global.css");

:host {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sidebar-filter {
  display: flex;
  place-items: center;
}

.sidebar-filter-label {
  position: absolute;
  top: 0.4em;
  left: 0.6em; /* Move icon inside field. */

  &::before {
    display: inline-block;

    width: 1.25em;
    height: 1.25em;

    content: "";

    background-color: var(--color-text-secondary);

    mask-image: url("../icon/filter.svg");
    mask-size: cover;
  }
}

.clear-sidebar-filter-button {
  --button-bg: none;
  --button-color: var(--color-text-primary);
  --button-border-color: none;
  position: absolute;
  right: 0;

  &::part(button) {
    border-radius: 50%;
  }

  &::part(button):hover {
    background-color: transparent;
  }
}

.sidebar-filter-input-field {
  width: 100%;

  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 2.5em;

  color: var(--color-text-primary);

  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-full);

  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:focus {
    border-color: transparent;

    .icon {
      color: var(--color-border-primary);
    }
  }

  &[value=""]:not(:focus, .is-active) {
    /** Filter collapsed. */
    width: 5em;

    ~ .sidebar-filter-count,
    ~ .clear-sidebar-filter-button {
      display: none;
    }
  }

  &:focus,
  &.is-active {
    /** Filter is focused or active. */
    padding-right: 7.5em;
  }

  ~ .sidebar-filter-count {
    position: absolute;
    right: 2.5em;

    padding: 0 0.5em;

    font-size: 0.7rem;

    color: var(--color-text-secondary);

    white-space: nowrap;

    background-color: var(--color-background-yellow);
    border-radius: 1em;
  }
}
