.generic-sidebar {
  --color-accent: var(--color-blue-50);
  --color-background-accent: var(--color-background-blue);
  --color-border-items: light-dark(var(--color-gray-80), var(--color-gray-20));

  position: sticky;
  top: var(--sticky-header-height);
  margin-bottom: 2rem;

  .generic-sidebar__header {
    h2 {
      margin: 0 0 1rem;

      font-size: var(--font-size-large);
      font-weight: var(--font-weight-normal);

      line-height: 1.2;

      color: var(--color-text-secondary);

      letter-spacing: 1.5px;
    }
  }

  .generic-sidebar__list {
    padding-left: 0;
    font-size: var(--font-size-small);
    list-style: none;
  }

  .generic-sidebar__item {
    margin: 0;
  }

  .generic-sidebar__link {
    display: inline-block;

    padding: 0.5rem 1rem;

    color: var(--color-text-secondary);

    text-decoration: none;

    border-left: 2px solid var(--color-border-items);

    &:hover,
    &:active {
      color: var(--color-accent);
    }

    &[aria-current="true"] {
      font-weight: var(--font-weight-bold);

      background-color: var(--color-background-accent);
      border-left: 2px solid var(--color-accent);
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  em {
    align-items: baseline;

    padding: 0.25em 0;

    font-style: normal;

    background-color: var(--color-background-accent);
    border-left: 2px solid var(--color-accent);
  }
}

.generic-sidebar--plus {
  --color-accent: var(--color-text-red);
  --color-background-accent: var(--color-background-red);
}

.generic-sidebar--observatory {
  --color-accent: var(--color-text-purple);
  --color-background-accent: var(--color-background-purple);
}
