@import url("../global/global.css");
@import url("../notecard/index.css");

code {
  padding: 0.125em 0.25em;

  font-family: var(--font-family-code);

  background-color: var(--color-background-secondary);
  border-radius: 0.25em;
}
