.color-theme {
  position: relative;
}

.color-theme__button {
  display: flex;

  column-gap: 0.25rem;
  align-items: center;

  padding: 0.5rem;
  margin: 0;

  font: inherit;

  color: inherit;

  background-color: transparent;
  border: none;

  &:is(:hover, :focus),
  &[aria-expanded="true"] {
    background-color: var(--background-secondary);
  }
}

.color-theme__dropdown {
  position: absolute;
  z-index: 1;

  width: max-content;

  padding: 0.75rem;
  margin: 0;

  background-color: var(--background-primary);
  border: 1px solid var(--text-secondary);

  &[data-side="left"] {
    right: 0;
  }

  &[data-side="right"] {
    left: 0;
  }
}

.color-theme__list {
  width: max-content;

  padding: 0;
  margin: 0;

  list-style: none;

  background-color: var(--background-primary);
}

.color-theme__option {
  display: flex;

  column-gap: 0.25rem;
  align-items: center;

  width: 100%;

  padding: 0.25rem;
  margin: 0;

  font: inherit;

  color: var(--text-secondary);

  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--background-secondary);
  }
}
