.code-example {
  --border: 1px solid var(--color-border-primary);
  overflow: hidden;
  border: var(--border);
  border-radius: 0.25rem;

  .example-header {
    display: flex;

    align-items: center;

    min-height: 3.1rem;

    padding: 0.5rem 1rem;

    line-height: var(--font-line-ui);

    border-bottom: var(--border);

    .language-name {
      text-transform: uppercase;
    }
  }

  pre {
    display: flex;

    margin: 0;

    white-space: pre-wrap;

    background-color: var(--color-background-secondary);

    code {
      flex-grow: 1;
      flex-shrink: 1;

      padding: 1rem;

      overflow: auto;

      font-family: var(--font-family-code);
      font-feature-settings: "calt" 0;

      background-color: transparent;
    }

    &.hidden,
    &[class*="interactive-example"] {
      display: none;
    }

    &.example-good,
    &.example-bad {
      &::after {
        display: inline-block;

        flex-shrink: 0;

        width: 1.24rem;
        height: 1.24rem;

        margin: 1.255rem 1rem;

        content: "";

        mask-size: cover;
      }
    }

    &.example-good {
      background-color: var(--color-background-green);

      &::after {
        background-color: var(--color-text-green);
        mask-image: url("../icon/circle-check.svg");
      }
    }

    &.example-bad {
      background-color: var(--color-background-red);

      &::after {
        background-color: var(--color-text-red);
        mask-image: url("../icon/circle-x.svg");
      }
    }
  }

  &:has(.hidden, [class*="interactive-example"]) {
    /* TODO: we might want to fix this in rari */
    display: none;
  }

  iframe,
  mdn-play-runner {
    box-sizing: content-box;
    display: block;

    padding: 1rem;

    border: none;
  }
}
