/* do not uncomment the below, with our current rsbuild config it breaks all client side JS: */

/* @import url("~prismjs/themes/prism.css"); */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-token-comment);
}

.token.punctuation {
  color: var(--code-token-punctuation);
}

.token.attr-name,
.token.builtin,
.token.inserted,
.token.selector,
.token.property,
.token.class-name,
.token.function {
  color: red;
}

.token.atrule,
.token.attr-value {
  color: blue;
}

.token.keyword {
  color: green;
}

.token.tag,
.token.char,
.token.string,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: orangered;
}

.token.selector,
.token.builtin,
.token.template-string > .token.string,
.token.inserted {
  color: purple;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-variation-settings: "slnt" -10;
  font-style: italic;
}

.token.entity {
  cursor: help;
}
