@import url("../curriculum/shared.css");
@import url("../curriculum/module.css");
@import url("../curriculum/module-list.css");
@import url("../curriculum/partner-banner.css");
@import url("../button/server.css");

.curriculum-content-container.curriculum-landing {
  width: 100%;
  max-width: 100%;

  padding: 0;
  margin: 0;

  background-color: var(--color-background-page);

  article {
    > header,
    > section {
      width: 100%;
      max-width: min(var(--max-width), 74rem);

      padding-right: var(--gutter);
      padding-left: var(--gutter);
      margin: 0 auto 3rem;
    }
  }

  .curriculum-content {
    padding-top: 0;

    /* number of columns in module list depending on screen width */
    ol.modules-list {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media (--screen-xsmall) {
        grid-template-columns: 1fr;
      }

      @media (--screen-small-and-wider) {
        grid-template-columns: 1fr 1fr;
      }

      @media (--screen-large-and-wider) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (--screen-xlarge-and-wider) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }

  header.landing-header {
    display: grid;
    grid-template-areas: "copy" "svg";

    @media (--screen-medium-and-wider) {
      grid-template-areas: "copy svg";
      grid-template-columns: 30rem auto;
    }

    > svg {
      z-index: 1;

      grid-area: svg;

      align-self: end;
      justify-self: end;

      width: 100%;
      max-width: 28rem;

      margin-bottom: 3rem;

      @media (--screen-medium-and-wider) {
        margin-bottom: 0;
      }

      #icons-bg {
        fill: var(--curriculum-bg-color-landing-top-icon);
      }

      .laptop {
        fill: var(--curriculum-color-landing-laptop);
      }
    }

    > section {
      grid-area: copy;

      max-width: 30rem;

      padding-right: 1rem;
      margin-top: 3rem;
      margin-right: auto;

      @media (--screen-medium-and-wider) {
        margin-bottom: 4rem;
      }

      h1 {
        margin-bottom: 0.5rem;
        font-size: var(--font-size-larger);
        color: var(--curriculum-color-topic);

        @media (--screen-medium-and-wider) {
          font-size: var(--font-size-largest);
        }
      }

      h2 {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: var(--font-size-large);

        @media (--screen-medium-and-wider) {
          margin-bottom: 2rem;
          font-size: var(--font-size-larger);
        }
      }

      p {
        color: var(--text-secondary);
      }
    }
  }

  .landing-about-container {
    max-width: 100%;

    margin: 0;
    margin-top: -6rem;

    background-color: var(--curriculum-bg-large-color);

    .landing-about {
      display: grid;

      grid-template-areas:
        "li"
        "h2"
        "p1"
        "p2"
        "p3"
        "p4"
        "scrim";
      grid-template-columns: 1fr;

      max-width: min(var(--max-width), 74rem);

      margin: 0 auto 3rem;

      @media (--screen-large-and-wider) {
        grid-template-areas:
          "li li    li "
          "h2 .     scrim"
          "p1 .     scrim"
          "p2 .     scrim"
          "p3 arrow scrim"
          "p4 arrow scrim";
        grid-template-columns: 1fr 7rem 24rem;
        column-gap: 1rem;
      }

      h2 {
        grid-area: h2;
        margin: 1rem 0;
      }

      > div.about-content {
        display: contents;

        ul {
          display: grid;

          grid-area: li;
          grid-template-columns: auto auto auto;

          align-items: start;
          justify-content: center;

          width: 100%;
          min-height: 5rem;

          padding: 1rem;
          margin: auto;

          color: var(--text-secondary);

          background-color: var(--curriculum-bg-color-landing-about-ul);
          border-radius: var(--elem-radius);
          box-shadow: var(--curriculum-shadow-landing-about-ul);

          transform: translateY(-1rem);

          @media (--screen-small-and-wider) {
            gap: 1rem;
            align-items: center;
          }

          @media (--screen-medium-and-wider) {
            justify-content: start;
          }

          @media (--screen-large-and-wider) {
            justify-content: center;
          }

          > li {
            margin: 0 0.5rem;
            text-align: center;

            @media (--screen-small-and-wider) {
              width: max-content;
              margin: 0 1rem;
            }

            @media (--screen-medium-and-wider) {
              display: inline-flex;
              gap: 1rem;
              align-items: center;
            }

            &::before {
              display: block;

              width: 3rem;
              height: 3rem;

              margin: 0 auto;

              @media (--screen-medium-and-wider) {
                display: initial;
                margin: 0;
              }
            }

            &:nth-child(1)::before {
              content: var(--curriculum-landing-about-beginner);
            }

            &:nth-child(2)::before {
              content: var(--curriculum-landing-about-pace);
            }

            &:nth-child(3)::before {
              content: var(--curriculum-landing-about-free);
            }
          }
        }

        p {
          display: grid;

          grid-template-columns: auto auto;

          align-items: center;
          justify-content: start;

          margin: 1rem 0;

          color: var(--text-secondary);

          &::before {
            display: block;

            align-self: start;

            width: 4rem;
            height: 4rem;
          }

          &:nth-child(2) {
            grid-area: p1;

            &::before {
              content: var(--curriculum-landing-about-bullet);
            }
          }

          &:nth-child(3) {
            grid-area: p2;

            &::before {
              content: var(--curriculum-landing-about-bullet);
            }
          }

          &:nth-child(4) {
            grid-area: p3;

            &::before {
              content: var(--curriculum-landing-about-bullet);
            }
          }

          &:nth-child(5) {
            grid-area: p4;

            a {
              margin-left: 4rem;
              font-weight: var(--font-weight-bold);
              text-decoration: underline;

              &:hover,
              &:active {
                text-decoration: none;
              }
            }
          }
        }
      }

      > div.arrow {
        grid-area: arrow;

        background-image: var(--curriculum-landing-arrow);
        background-repeat: no-repeat;
        background-position: center;
      }

      .scrim-wrapper {
        display: flex;

        flex-direction: column;

        grid-area: scrim;

        justify-content: center;
        justify-self: center;

        max-width: 24rem;

        margin-top: 1rem;

        @media (--screen-large-and-wider) {
          justify-self: end;
          margin-top: 0;
        }

        .scrim-border {
          width: 100%;
          height: 16rem;

          background-image: var(--curriculum-scrim-bg);
          background-repeat: no-repeat;
          background-position: bottom right;
        }

        mdn-scrim-inline {
          display: block;

          width: 22rem;
          max-width: calc(100vw - var(--gutter) * 2);
          height: 14.25rem;

          background: #000000;
        }

        p {
          padding: 1rem 0;
          margin: 0;
        }
      }
    }
  }

  .landing-stairway {
    max-width: 100%;
    margin: 0;
    background-color: var(--color-background-secondary);

    > div {
      display: grid;

      grid-template-areas: "a" "b";
      grid-template-rows: auto auto;
      grid-template-columns: auto;

      justify-content: center;

      width: 100%;
      max-width: min(var(--max-width), 74rem);

      padding: 2rem;
      padding-right: var(--gutter);
      padding-left: var(--gutter);
      margin: 0 auto 3rem;

      color: var(--text-secondary);

      @media (--screen-medium-and-wider) {
        grid-template-columns: min(100%, 34rem);
      }

      @media (--screen-large-and-wider) {
        grid-template-areas: "a b";
        grid-template-columns: 1fr 1.4fr;
      }

      svg {
        width: 100%;
      }

      > #stairway1-container {
        --fs: clamp(1rem, calc(3 * calc(100vw / 100)), 1.75rem);
        position: relative;

        grid-area: a;

        width: 100%;

        margin: 0;

        transform: translateX(2vw);

        @media (--screen-large-and-wider) {
          --fs: clamp(1rem, calc(2 * calc(100vw / 100)), 1.75rem);
        }

        #stairway1 {
          position: absolute;
          top: 18%;
          left: 32%;

          font-size: var(--fs);

          > span {
            display: block;

            width: max-content;

            line-height: calc(1.25 * var(--fs));

            text-wrap: nowrap;
          }

          .color {
            color: var(--curriculum-color);
          }
        }
      }

      > #stairway2-container {
        --fs: clamp(0.75rem, calc(1.25 * calc(100vw / 100)), 1rem);
        position: relative;
        grid-area: b;
        transform: translateX(-5vw);

        @media (--screen-medium-and-wider) {
          --fs: clamp(0.75rem, calc(100vw / 100), 0.825rem);
        }

        #stairway2 {
          position: absolute;
          top: 0;
          left: 0;

          width: calc(100% + 5vw);
          height: 100%;

          margin: 0;

          font-size: var(--fs);

          > span {
            position: absolute;

            display: block;

            max-width: 10rem;

            line-height: calc(1.25 * var(--fs));

            text-wrap: wrap;

            @media (--screen-medium-and-wider) {
              max-width: initial;
              text-wrap: nowrap;
            }
          }

          #stair-1 {
            top: 36%;
            left: 47%;
          }

          #stair-2 {
            top: 52%;
            left: 33%;
          }

          #stair-3 {
            top: 71%;
            left: 23%;
          }

          #stair-4 {
            top: 86%;
            left: 8%;
          }

          @media (--screen-medium-and-wider) {
            #stair-1 {
              top: 53%;
              left: 35%;
            }

            #stair-2 {
              top: 65%;
              left: 27%;
            }

            #stair-3 {
              top: 77%;
              left: 13%;
            }

            #stair-4 {
              top: 90%;
              left: 0%;
            }
          }
        }

        > svg {
          &#stairway2large {
            display: none;
            grid-area: b;

            @media (--screen-medium-and-wider) {
              display: initial;
            }
          }

          &#stairway2small {
            grid-area: b;
            max-width: 100%;

            @media (--screen-medium-and-wider) {
              display: none;
            }
          }
        }
      }
    }
  }

  #dont_know_where_toget_started {
    width: fit-content;

    margin: 1rem auto 5rem;

    line-height: 3rem;

    text-align: center;

    &::after {
      position: absolute;

      width: 6em;

      content: url("../curriculum/assets/curriculum-started-underline.svg");

      transform: translate3d(-6em, 1.25rem, 0);
    }

    ~ div {
      > ul {
        display: grid;

        grid-template-areas: "beginner" "advanced" "employ" "educator";

        gap: 1rem;

        max-width: 52rem;

        margin: 0 auto;

        overflow: clip;

        scroll-snap-type: inline mandatory;

        @media (--screen-medium-and-wider) {
          grid-template-areas:
            "beginner advanced"
            "employ educator";
          grid-template-columns: auto auto;
          gap: 5rem 4rem;
        }

        @media (--screen-large-and-wider) {
          gap: 5rem 8rem;
        }

        > li {
          display: grid;

          grid-template-areas:
            "i h"
            "p p"
            "c c";
          grid-template-rows: 4rem minmax(2rem, max-content) max-content;
          grid-template-columns: 3rem 1fr;

          gap: 1rem;
          align-items: center;

          height: max-content;

          padding: 1rem 0.5rem;

          color: var(--text-secondary);

          scroll-snap-align: center;

          background-color: var(--curriculum-bg-large-color);
          border-radius: var(--elem-radius);

          @media (--screen-medium-and-wider) {
            grid-template-areas:
              "i h"
              "i p"
              "i c";
            grid-template-rows: 4rem auto max-content;
            grid-template-columns: auto auto;

            gap: 1rem 2rem;
            align-items: start;

            width: initial;
            height: initial;

            padding: 0;

            background-color: initial;
          }

          &::before {
            display: inline-block;

            align-self: start;

            width: 3rem;
            height: 3rem;

            @media (--screen-medium-and-wider) {
              grid-area: i;
              width: 5rem;
              height: 5rem;
            }
          }

          &:nth-child(1)::before {
            content: var(--curriculum-landing-started-beginner);
          }

          &:nth-child(2)::before {
            content: var(--curriculum-landing-started-advanced);
          }

          &:nth-child(3)::before {
            content: var(--curriculum-landing-started-employment);
          }

          &:nth-child(4)::before {
            content: var(--curriculum-landing-started-educator);
          }

          h3 {
            grid-area: h;

            margin-top: 0;

            font-weight: var(--font-weight-bold);

            line-height: var(--font-line-normal);

            color: var(--text-primary);
          }

          p:nth-child(2) {
            grid-area: p;
          }

          p:nth-child(3) {
            grid-area: c;
          }

          em {
            grid-area: p;
            align-self: start;
          }

          a {
            --button-bg--default: light-dark(#1b1b1b, #ffffff);
            --button-bg-hover--default: light-dark(#696969, #cdcdcd);
            --button-bg-active--default: light-dark(#9e9e9e, #9e9e9e);
            --button-border-color--default: light-dark(#1d1d1d, #ffffff);
            --button-color--default: var(--color-background-primary);

            --button-bg: var(--button-bg--default);
            --button-bg-hover: var(--button-bg-hover--default);
            --button-bg-active: var(--button-bg-active--default);
            --button-border-color: var(--button-border-color--default);
            --button-height: 2rem;
            --button-color: var(--button-color--default);
            --button-radius: var(--elem-radius, 0.25rem);
            position: relative;

            display: flex;

            grid-area: c;

            gap: 0.25rem;
            align-items: center;
            justify-content: center;
            justify-self: center;

            width: fit-content;
            min-height: var(--button-height);

            padding: 0.5rem;
            padding-right: var(--button-padding);
            padding-left: var(--button-padding);

            font-size: var(--font-size-small);
            font-weight: var(--font-weight-bold);

            color: var(--button-color);

            text-align: center;

            text-decoration: none;

            cursor: pointer;

            background-color: var(--button-bg);
            border: 1px solid var(--button-border-color);
            border-radius: var(--button-radius);

            @media (--screen-medium-and-wider) {
              justify-self: start;
            }

            &:hover {
              background-color: var(--button-bg-hover, var(--button-bg));
            }
          }
        }
      }
    }
  }
}
