.page-layout {
  display: grid;
  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
  margin: 0;
  margin-inline: auto;
  min-height: 100svh;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-body);
}

.page-layout__header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/*
.page-layout__main {
}

.page-layout__footer {
}
*/
