.page-layout {
  display: grid;

  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;

  min-height: 100svh;

  margin: 0;
  margin-inline: auto;

  font-family: var(--font-body);

  color: var(--text-primary);

  background-color: var(--background-primary);
}

.page-layout__header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/*
.page-layout__main {
}

.page-layout__footer {
}
*/
