.page-layout {
  display: grid;

  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
  grid-template-columns: minmax(0, 1fr);

  min-height: 100svh;

  margin: 0;
  margin-inline: auto;
}

.page-layout__header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-sticky-header);
}

.page-layout__banner {
  height: calc(5.625rem + 1px);
  background-color: var(--color-background-primary);
  border-bottom: 1px solid var(--color-border-primary);

  &[data-scheme="dark"] {
    color-scheme: dark;
  }

  @media (--screen-small-and-narrower) {
    display: none;
  }
}

:root[data-nop="yes"] {
  .page-layout__banner {
    display: none;
  }
}
