.page-layout {
  display: grid;

  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
  grid-template-columns: minmax(0, 1fr);

  min-height: 100svh;

  margin: 0;
  margin-inline: auto;
}

.page-layout__header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-sticky-header);
}

@media (width < 769px) {
  .page-layout__banner {
    display: none;
  }
}
