.homepage-hero {
  font-size: var(--font-size-large);

  h1 {
    margin-top: 0;
    font-size: var(--font-size-largest);
    font-weight: normal;

    &::after {
      color: light-dark(var(--color-blue-50), var(--color-blue-80));
      content: "_";
    }
  }

  a {
    color: var(--color-link-normal);
    text-decoration: underline;

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }
}
