.heading:target {
    scroll-margin-top: var(--sticky-header-height);
}

.heading-anchor {
    color: inherit;

    &::before {
        position: absolute;
        content: "#";
        color: var(--text-secondary);
        padding-inline-end: 0.4em;
        margin-inline-start: -0.8em;
    }

    &:not(:hover, :focus) {
        text-decoration: none;

        &::before {
            visibility: hidden;
        }
    }
}
