.heading:target {
  scroll-margin-top: var(--sticky-header-height);
}

.heading-anchor {
  color: inherit !important;

  &::before {
    display: inline-block;

    padding-right: 0.2em;
    margin-left: -0.8em;

    font-size: 0.75em;

    color: var(--color-text-secondary);

    content: "#";

    @media (--screen-small-and-narrower) {
      padding-right: 0.1em;

      /** Avoid viewport overflow. */
      font-size: 0.5em;
    }
  }

  &:not(:hover, :focus)::before {
    visibility: hidden;
  }
}
