.heading:target {
  scroll-margin-top: var(--sticky-header-height);
}

.heading-anchor {
  color: inherit !important;

  &::before {
    position: absolute;

    padding-right: 0.4em;
    margin-left: -0.8em;

    color: var(--color-text-secondary);

    content: "#";
  }

  &:not(:hover, :focus) {
    text-decoration: none;

    &::before {
      visibility: hidden;
    }
  }
}
