/**
  Latest news (homepage).

  Important: Shares design with featured articles.
*/

.latest-news {
  --base-line-height: 1.2;

  display: grid;

  grid-auto-flow: row;

  gap: 1rem;

  padding: 0;

  @media (--screen-medium-and-wider) {
    grid-template-columns: repeat(2, 1fr);
  }

  > li {
    display: contents;
  }

  a {
    &:link {
      color: var(--color-text-primary);
    }

    &:visited {
      color: var(--color-text-secondary);
    }

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.latest-news__item {
  display: grid;

  grid-template-areas: "source date" "title title" "summary summary";
  grid-template-columns: 1fr max-content;

  justify-content: space-between;

  padding: 1rem;

  border: 1px solid var(--color-border-secondary);
  border-radius: 0.5rem;
}

.latest-news__source {
  grid-area: source;
  font-size: var(--font-size-small);
  font-weight: 500;
}

.latest-news__title {
  display: flex;

  flex-grow: 1;

  grid-area: title;

  align-items: flex-start;

  margin: 0 0 1em;

  font-size: var(--font-size-normal);
  font-weight: 500;

  line-height: 1.5;
}

.latest-news__date {
  grid-area: date;
  font-size: var(--font-size-small);
}

.latest-news__summary {
  position: relative;

  grid-area: summary;

  min-height: calc(3em * var(--base-line-height));
  max-height: calc(3em * var(--base-line-height));

  margin: 0;

  overflow: hidden;

  font-size: var(--font-size-small);

  line-height: var(--base-line-height);

  &::after {
    position: absolute;
    top: calc(2em * var(--base-line-height));
    right: 0;

    display: block;

    width: 20ch;
    height: calc(1em * var(--base-line-height));

    pointer-events: none;

    content: "";

    background: var(--color-background-page);

    mask-image: linear-gradient(90deg, #00000000, #000000 75%);
  }
}
