/* Background */

/* Basic */

:root {
  --color-background-primary: light-dark(
    var(--color-white),
    var(--color-gray-9)
  );
  --color-background-secondary: light-dark(
    var(--color-gray-2),
    var(--color-gray-8)
  );
}

/* Tinted */

:root {
  --color-background-red: light-dark(
    var(--color-red-light-super),
    var(--color-red-dark-super)
  );
  --color-background-orange: light-dark(
    var(--color-orange-light-super),
    var(--color-orange-dark-super)
  );
  --color-background-yellow: light-dark(
    var(--color-yellow-light-super),
    var(--color-yellow-dark-super)
  );
  --color-background-green: light-dark(
    var(--color-green-light-super),
    var(--color-green-dark-super)
  );
  --color-background-blue: light-dark(
    var(--color-blue-light-super),
    var(--color-blue-dark-super)
  );
  --color-background-purple: light-dark(
    var(--color-purple-light-super),
    var(--color-purple-dark-super)
  );
}
