/* Background */

/* Basic */

:root {
  --color-background-page: light-dark(var(--color-white), var(--color-gray-05));
  --color-background-primary: light-dark(
    var(--color-white),
    var(--color-gray-10)
  );
  --color-background-secondary: light-dark(
    var(--color-gray-80),
    var(--color-gray-20)
  );
}

/* Tinted */

:root {
  --color-background-red: light-dark(
    var(--color-red-lightest),
    var(--color-red-darkest)
  );
  --color-background-orange: light-dark(
    var(--color-orange-lightest),
    var(--color-orange-darkest)
  );
  --color-background-yellow: light-dark(
    var(--color-yellow-lightest),
    var(--color-yellow-darkest)
  );
  --color-background-green: light-dark(
    var(--color-green-lightest),
    var(--color-green-darkest)
  );
  --color-background-blue: light-dark(
    var(--color-blue-lightest),
    var(--color-blue-darkest)
  );
  --color-background-purple: light-dark(
    var(--color-purple-lightest),
    var(--color-purple-darkest)
  );
}
