/* Background */

/* Basic */

:root {
  --color-background-page: light-dark(var(--color-white), var(--color-gray-05));
  --color-background-primary: light-dark(
    var(--color-white),
    var(--color-gray-10)
  );
  --color-background-secondary: light-dark(
    var(--color-gray-80),
    var(--color-gray-20)
  );
}

/* Tinted */

:root {
  --color-background-red: light-dark(var(--color-red-90), var(--color-red-10));
  --color-background-orange: light-dark(
    var(--color-orange-90),
    var(--color-orange-10)
  );
  --color-background-yellow: light-dark(
    var(--color-yellow-90),
    var(--color-yellow-10)
  );
  --color-background-green: light-dark(
    var(--color-green-90),
    var(--color-green-10)
  );
  --color-background-blue: light-dark(
    var(--color-blue-90),
    var(--color-blue-10)
  );
  --color-background-purple: light-dark(
    var(--color-purple-90),
    var(--color-purple-10)
  );
}
