/* Border */

:root {
  --color-border-primary: light-dark(
    var(--color-gray-40),
    var(--color-gray-60)
  );
  --color-border-secondary: light-dark(
    var(--color-gray-60),
    var(--color-gray-40)
  );
  --color-border-active: light-dark(var(--color-blue-80), var(--color-blue-20));
}
