/* Color */

@import url("border.css");
@import url("background.css");
@import url("text.css");
@import url("link.css");
@import url("scrollbar.css");

/* Light/dark */
:root {
  color-scheme: light dark;
}

/* Basic */

:root {
  --color-white: hsl(0deg 0% 100%);
  --color-white-alpha-25: hsl(0deg 0% 100% / 25%);
  --color-white-alpha-75: hsl(0deg 0% 100% / 75%);

  --color-black: hsl(0deg 0% 0%);
  --color-black-alpha-25: hsl(0deg 0% 0% / 25%);
  --color-black-alpha-75: hsl(0deg 0% 0% / 75%);
}

/* Gray */

:root {
  --color-gray-90: hsl(212deg 7% 97%);
  --color-gray-80: hsl(212deg 7% 92%);
  --color-gray-60: hsl(212deg 7% 78%);
  --color-gray-40: hsl(212deg 7% 34%);
  --color-gray-20: hsl(212deg 7% 19%);
  --color-gray-10: hsl(212deg 7% 14%);
  --color-gray-05: hsl(212deg 7% 10%);
}

/* Tinted */

:root {
  --color-red-90: hsl(350deg 100% 95%);
  --color-red-80: hsl(350deg 90% 60%);
  --color-red-50: hsl(350deg 84% 45%);
  --color-red-20: hsl(350deg 84% 39%);
  --color-red-10: hsl(350deg 60% 15%);

  --color-orange-90: hsl(25deg 92% 95%);
  --color-orange-80: hsl(25deg 93% 63%);
  --color-orange-50: hsl(25deg 76% 53%);
  --color-orange-20: hsl(25deg 78% 40%);
  --color-orange-10: hsl(25deg 55% 15%);

  --color-yellow-90: hsl(46deg 95% 95%);
  --color-yellow-80: hsl(46deg 90% 70%);
  --color-yellow-50: hsl(46deg 92% 47%);
  --color-yellow-20: hsl(46deg 75% 38%);
  --color-yellow-10: hsl(46deg 70% 12%);

  --color-green-90: hsl(145deg 40% 93%);
  --color-green-80: hsl(145deg 55% 55%);
  --color-green-50: hsl(145deg 90% 30%);
  --color-green-20: hsl(145deg 70% 24%);
  --color-green-10: hsl(145deg 50% 10%);

  --color-blue-90: hsl(212deg 91% 95%);
  --color-blue-80: hsl(212deg 91% 64%);
  --color-blue-50: hsl(212deg 90% 39%);
  --color-blue-20: hsl(212deg 80% 33%);
  --color-blue-10: hsl(212deg 65% 12%);

  --color-purple-90: hsl(267deg 99% 96%);
  --color-purple-80: hsl(267deg 99% 74%);
  --color-purple-50: hsl(267deg 76% 56%);
  --color-purple-20: hsl(267deg 65% 40%);
  --color-purple-10: hsl(267deg 55% 14%);
}
