/* Color */

@import url("border.css");
@import url("background.css");
@import url("text.css");
@import url("link.css");
@import url("scrollbar.css");

/* Light/dark */
:root {
  color-scheme: light dark;
}

/* Basic */

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

/* Gray */

:root {
  --color-gray-90: hsl(212deg 7% 97%);
  --color-gray-80: hsl(212deg 7% 91%);
  --color-gray-60: hsl(212deg 7% 78%);
  --color-gray-40: hsl(212deg 7% 34%);
  --color-gray-20: hsl(212deg 7% 22%);
  --color-gray-10: hsl(212deg 7% 15%);
  --color-gray-05: hsl(212deg 7% 10%);
}

/* Tinted */

:root {
  --color-red-lightest: hsl(350deg 100% 95%);
  --color-red-lighter: hsl(350deg 90% 60%);
  --color-red: hsl(350deg 84% 45%);
  --color-red-darker: hsl(350deg 84% 39%);
  --color-red-darkest: hsl(350deg 60% 15%);

  --color-orange-lightest: hsl(25deg 92% 95%);
  --color-orange-lighter: hsl(25deg 93% 63%);
  --color-orange: hsl(25deg 76% 53%);
  --color-orange-darker: hsl(25deg 78% 40%);
  --color-orange-darkest: hsl(25deg 55% 15%);

  --color-yellow-lightest: hsl(46deg 95% 95%);
  --color-yellow-lighter: hsl(46deg 90% 70%);
  --color-yellow: hsl(46deg 92% 47%);
  --color-yellow-darker: hsl(46deg 75% 38%);
  --color-yellow-darkest: hsl(46deg 70% 12%);

  --color-green-lightest: hsl(145deg 40% 93%);
  --color-green-lighter: hsl(145deg 55% 55%);
  --color-green: hsl(145deg 90% 30%);
  --color-green-darker: hsl(145deg 70% 24%);
  --color-green-darkest: hsl(145deg 50% 10%);

  --color-blue-lightest: hsl(212deg 91% 95%);
  --color-blue-lighter: hsl(212deg 91% 64%);
  --color-blue: hsl(212deg 90% 39%);
  --color-blue-darker: hsl(212deg 80% 33%);
  --color-blue-darkest: hsl(212deg 65% 12%);

  --color-purple-lightest: hsl(267deg 99% 96%);
  --color-purple-lighter: hsl(267deg 99% 74%);
  --color-purple: hsl(267deg 76% 56%);
  --color-purple-darker: hsl(267deg 65% 40%);
  --color-purple-darkest: hsl(267deg 55% 14%);
}

/* translucent */

:root {
  --color-transparent: #00000000;
  --color-transparent-light: #ffffff40;
  --color-transparent-dark: #00000040;
}
