/* Text */

/* Basic */

:root {
  --color-text-primary: light-dark(var(--color-black), var(--color-white));
  --color-text-secondary: light-dark(
    var(--color-gray-40),
    var(--color-gray-60)
  );
}

/* Tinted */

:root {
  --color-text-red: light-dark(var(--color-red-20), var(--color-red-80));
  --color-text-orange: light-dark(
    var(--color-orange-20),
    var(--color-orange-80)
  );
  --color-text-yellow: light-dark(
    var(--color-yellow-20),
    var(--color-yellow-80)
  );
  --color-text-green: light-dark(var(--color-green-20), var(--color-green-80));
  --color-text-blue: light-dark(var(--color-blue-20), var(--color-blue-80));
  --color-text-purple: light-dark(
    var(--color-purple-20),
    var(--color-purple-80)
  );
}
