/* Text */

/* Basic */

:root {
  --color-text-primary: light-dark(var(--color-black), var(--color-white));
  --color-text-secondary: light-dark(
    var(--color-gray-40),
    var(--color-gray-60)
  );
}

/* Tinted */

:root {
  --color-text-red: light-dark(
    var(--color-red-darker),
    var(--color-red-lighter)
  );
  --color-text-orange: light-dark(
    var(--color-orange-darker),
    var(--color-orange-lighter)
  );
  --color-text-yellow: light-dark(
    var(--color-yellow-darker),
    var(--color-yellow-lighter)
  );
  --color-text-green: light-dark(
    var(--color-green-darker),
    var(--color-green-lighter)
  );
  --color-text-blue: light-dark(
    var(--color-blue-darker),
    var(--color-blue-lighter)
  );
  --color-text-purple: light-dark(
    var(--color-purple-darker),
    var(--color-purple-lighter)
  );
}
