/* Text */

/* Basic */

:root {
  --color-text-primary: light-dark(var(--color-black), var(--color-white));
  --color-text-secondary: light-dark(var(--color-gray-7), var(--color-gray-6));
}

/* Tinted */

:root {
  --color-text-red: light-dark(var(--color-red-dark), var(--color-red-light));
  --color-text-orange: light-dark(
    var(--color-orange-dark),
    var(--color-orange-light)
  );
  --color-text-yellow: light-dark(
    var(--color-yellow-dark),
    var(--color-yellow-light)
  );
  --color-text-green: light-dark(
    var(--color-green-dark),
    var(--color-green-light)
  );
  --color-text-blue: light-dark(
    var(--color-blue-dark),
    var(--color-blue-light)
  );
  --color-text-purple: light-dark(
    var(--color-purple-dark),
    var(--color-purple-light)
  );
}
