/* Navigation */

.navigation {
  background-color: var(--color-background-primary);
  border-bottom: 1px solid var(--color-border-secondary);

  &[data-scheme="dark"] {
    color: var(--color-text-primary);
    color-scheme: dark;
  }
}

/* Tools */

.navigation__tools {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.navigation__popup {
  mdn-user-menu {
    min-width: 2.625rem; /* 42px when logged in */
  }
}
