/* Desktop */

@media (width > 1006px) {
  .navigation {
    display: grid;

    grid-template-columns: min-content 1fr min-content;

    column-gap: 1rem;
    align-items: center;
    justify-items: center;

    padding-block: 0.75rem;
    padding-inline: var(--navigation-side-padding);

    @media (width > 1440px) {
      padding-inline: calc(
        (100% - 1440px + (var(--navigation-side-padding) * 2)) / 2
      );
    }
  }

  /* Logo */

  .navigation__logo {
    padding: 0.5rem;
    padding-right: 0;
    margin-inline-start: -6px;
  }

  /* Popup */

  .navigation__popup {
    display: contents;
  }

  /* Button */

  .navigation__button {
    display: none;
  }
}
