/* Navigation */

.navigation {
    --navigation-side-padding: 1rem;

    display: grid;
    padding-block: 0.75rem;
    padding-inline: var(--navigation-side-padding);
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
    column-gap: 1rem;
    border-block-end: 1px solid var(--text-secondary);
    background-color: var(--background-primary);

    @media (width > 1440px) {
        padding-inline: calc(
            (100% - 1440px + (var(--navigation-side-padding) * 2)) / 2
        );
    }
}

/* Logo */

.navigation__logo {
    margin-inline-start: -6px;
}

/* Tools */

.navigation__tools {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}
