/* Mobile */

@media (--screen-menu-hamburger) {
  :root {
    --navigation-height: 2.9rem;
  }

  .navigation {
    display: grid;

    grid-template-columns: 1fr min-content min-content;

    column-gap: 0.25rem;
    align-items: center;
    justify-items: start;

    height: var(--navigation-height);

    &[data-open="true"] {
      position: fixed;
      inset: 0;
      z-index: 2;

      align-content: start;

      height: auto;

      overflow-y: auto;
    }
  }

  /* Popup */

  .navigation__popup {
    display: none;
    grid-column: 1 / -1;
    justify-self: stretch;
  }

  .navigation[data-open="true"] .navigation__popup {
    display: block;
  }

  /* Logo */

  .navigation__logo {
    padding: 0.2rem;
  }

  /* Button */

  .navigation__button {
    padding: 0.7rem;
    margin: 0;

    cursor: pointer;
    outline-offset: -2px;

    background-color: transparent;
    border: none;

    &:hover {
      background-color: var(--color-background-secondary);
    }

    &::before {
      display: block;

      width: 1.5rem;
      height: 1.5rem;

      content: "";

      background-color: currentcolor;

      mask-size: cover;
    }

    &[aria-expanded="true"]::before {
      mask-image: url("../icon/cancel.svg");
    }

    &[aria-expanded="false"]::before {
      mask-image: url("../icon/menu.svg");
    }
  }

  /* Search */

  .navigation__search {
    &[data-view="mobile"] {
      display: block;
    }

    &[data-view="desktop"] {
      display: none;
    }
  }

  /* User menu */

  mdn-user-menu {
    display: block;
    border-top: 1px solid var(--color-border-primary);
  }
}
