/* Mobile */

@media (--screen-menu-hamburger) {
  :root {
    --top-nav-height: 2.9rem;
  }

  .navigation {
    display: grid;

    grid-template-columns: 1fr min-content;

    justify-items: start;

    height: var(--top-nav-height);

    &[data-open="true"] {
      position: fixed;
      inset: 0;
      z-index: 2;

      align-content: start;

      height: auto;

      overflow-y: auto;
    }
  }

  /* Popup */

  .navigation__popup {
    display: none;
    grid-column: 1 / -1;
    justify-self: stretch;
  }

  .navigation[data-open="true"] .navigation__popup {
    display: block;
  }

  /* Logo */

  .navigation__logo {
    padding: 0.7rem;
  }

  /* Button */

  .navigation__button {
    padding: 0.7rem;
    margin: 0;

    cursor: pointer;

    background-color: transparent;
    border: none;

    &::before {
      display: block;

      width: 1.5rem;
      height: 1.5rem;

      content: "";

      background-color: currentcolor;

      mask-size: cover;
    }

    &[aria-expanded="true"]::before {
      mask-image: url("../icon/cancel.svg");
    }

    &[aria-expanded="false"]::before {
      mask-image: url("../icon/menu.svg");
    }
  }

  /* Search */

  .navigation__search {
    padding: 0.7rem;
    border-top: 1px solid var(--color-border-primary);
  }

  mdn-user-menu {
    display: block;
    border-top: 1px solid var(--color-border-primary);
  }
}
