/* Content */

.menu__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Full */

.menu__content-full {
  display: grid;

  grid-column: span 3;

  row-gap: 1.6rem;

  padding: 1.6rem;
}

/* Primary */

.menu__content-primary {
  display: grid;
  row-gap: 1.6rem;
  padding: 1.6rem;
}

/* Secondary */

.menu__content-secondary {
  position: relative;

  display: grid;

  grid-template-columns: subgrid;
  grid-column: span 2;

  row-gap: 1.6rem;

  padding: 1.6rem;

  &::before {
    position: absolute;
    top: 1.6rem;
    bottom: 1.6rem;
    left: 0;

    width: 1px;

    content: "";

    background-color: var(--color-gray-2);
  }
}

/* List */

.menu__content-list {
  display: grid;

  row-gap: 0.825rem;
  align-content: start;

  margin: 0;

  dt {
    font-size: 0.825rem;

    color: var(--color-text-secondary);

    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  dd {
    margin: 0;
  }

  ul {
    display: grid;

    row-gap: 0.825rem;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  a {
    color: var(--color-text-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Featured */

.menu__content-featured {
  display: grid;

  row-gap: 1.6rem;

  padding: 0;
  margin: 0;

  list-style: none;

  a {
    display: inline flex;

    column-gap: 0.5rem;
    align-items: center;

    color: var(--color-text-primary);

    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    svg {
      fill: var(--color-text-secondary);
    }
  }
}
