/* Tabs */

.menu__tabs {
  display: flex;

  column-gap: 0.5rem;

  padding: 0;
  margin: 0;

  list-style: none;
}

/* Button */

.menu__tabs-button {
  --menu-tabs-button-background: var(--background-blue);
  --menu-tabs-button-text: var(--text-blue);
  display: flex;

  column-gap: 0.25rem;
  align-items: center;

  padding: 0.7rem;
  margin: 0;

  font: inherit;

  color: var(--text-primary);

  white-space: nowrap;

  cursor: pointer;

  background-color: transparent;
  border: 1px solid transparent;
  border-block-end: none;
  border-radius: 2px;

  &:is([aria-expanded="true"], :hover) {
    color: var(--menu-tabs-button-text);
    background-color: var(--menu-tabs-button-background);
  }
}

.menu__tabs-button--learn {
  --menu-tabs-button-background: var(--background-orange);
  --menu-tabs-button-text: var(--text-orange);
}

.menu__tabs-button--tools {
  --menu-tabs-button-background: var(--background-purple);
  --menu-tabs-button-text: var(--text-purple);
}

.menu__tabs-button--about {
  --menu-tabs-button-background: var(--background-green);
  --menu-tabs-button-text: var(--text-green);
}

/* Icon */

.menu__tabs-icon {
  fill: currentcolor;
}

/* Arrow */

.menu__tabs-arrow {
  fill: currentcolor;

  [aria-expanded="true"] & {
    scale: -1;
  }
}

/* Link */

.menu__tabs-link {
  padding: 0.7rem;
  color: var(--text-primary);

  &:hover {
    text-decoration: none;
  }
}
