.left-sidebar {
  position: sticky;
  top: var(--sticky-header-height);

  h4 {
    margin: 0;
    font-size: var(--font-size-large);
    font-weight: normal;
  }

  summary {
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-secondary);

      &:has(a:hover) {
        /* Don't highlight, as link click doesn't toggle. */
        background-color: unset;
      }
    }
  }

  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  details ol {
    padding-left: calc(0.75em + 2px); /* 2px to align with regular li. */
  }

  li {
    margin-bottom: 0.5rem;

    &.section {
      font-size: 1.25rem;
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  a,
  em,
  span {
    display: inline-block;
    padding: 0.25em 0;
  }

  a {
    color: var(--color-text-primary);

    &:hover {
      color: var(--color-link-normal);
    }

    &:not(:hover) {
      text-decoration: none;
    }
  }

  em {
    align-items: baseline;

    padding: 0.25em 0.5em; /* Keep in sync with `.reference-toc a` */

    font-style: normal;

    background-color: var(--color-background-blue);
    border-left: 2px solid var(--color-blue-50);
  }

  .icon {
    margin-left: 0.5ch;
  }

  mark {
    /* Sidebar filter highlight */
    color: unset;
    background-color: var(--color-background-blue);
  }
}

.left-sidebar__header {
  position: sticky;
  top: 0;
  z-index: 1;

  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 2rem;

  background: linear-gradient(
    to bottom,
    var(--color-background-primary) 0 calc(100% - 2rem),
    transparent 100%
  );
}
