.left-sidebar {
  h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
  }

  summary {
    padding: 0.5rem 0;
    cursor: pointer;

    &:hover {
      background-color: var(--color-background-secondary);
    }
  }

  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  details ol {
    padding-left: 0.75rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  a {
    display: inline-block;

    padding: 0.25rem;

    color: var(--color-text-primary);

    text-decoration: none;

    &:hover {
      color: var(--color-link-normal);
    }
  }

  em {
    display: inline-block;

    align-items: baseline;

    padding: 0.25rem;

    background-color: var(--color-background-blue);
    border-left: 2px solid var(--color-blue-50);
  }

  svg {
    flex-shrink: 0;
  }
}
