.blog-post__main {
  display: grid;

  grid-template-areas:
    "post"
    "newsletter";

  gap: 3rem;

  width: 100%;

  padding-inline: calc(
    (100% - 1440px + (var(--navigation-side-padding) * 2)) / 2
  );

  @media (width >= 992px) {
    grid-template-areas:
      "post toc"
      "newsletter toc";
    grid-template-columns: minmax(auto, 100%) minmax(0, 12rem);
  }

  @media (width >= 1200px) {
    grid-template-areas:
      "nothing post toc"
      "nothing newsletter toc";
    grid-template-columns: minmax(auto, 1fr) minmax(0, 52rem) minmax(15rem, 1fr);
  }

  @media (width >= 1441px) {
    grid-template-areas:
      "toc post place"
      "toc newsletter place";
    grid-template-columns: minmax(15rem, 1fr) minmax(0, 52rem) minmax(
        15rem,
        1fr
      );
  }
}

.blog-post__content {
  grid-area: post;
}

.blog-post__sidebar {
  --offset: var(--sticky-header-height);
  display: none;
  grid-area: toc;

  .blog-toc__header h2 {
    margin: 0 0 1rem;
    font: var(--type-heading-h5);
    letter-spacing: 1.5px;
  }

  .blog-toc {
    position: sticky;
    top: var(--offset);

    max-height: calc(100vh - var(--offset));

    margin-top: 0;

    overflow: auto;
  }

  @media (width >= 992px) {
    display: flex;
    flex-direction: column;
    grid-area: toc;

    .blog-toc {
      margin-top: 2rem;
    }
  }

  @media (width >= 1441px) {
    display: contents;

    .blog-toc {
      position: sticky;
      top: var(--offset);

      height: max-content;

      /* mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 3rem calc(100% - 3rem),
        rgba(0, 0, 0, 0) 100%
      ); */
      max-height: calc(100vh - var(--offset));

      overflow: auto;
    }

    .place.side {
      grid-area: place;
      margin-top: 0;

      > .pong-box2,
      > .pong-box {
        margin-top: 2rem;
      }
    }
  }
}

.blog-toc__entries {
  padding-left: 0;
  font-size: var(--type-smaller-font-size);
  list-style: none;
}

.blog-toc__entry {
  margin: 0;

  :not(.button) {
    display: inline-block;

    padding: 0.5rem 1rem;

    color: var(--text-secondary);

    text-decoration: none;

    border-left: 2px solid var(--border-secondary);
  }
}
