.homepage {
  display: grid;
  grid-template-columns: var(--layout-no-sidebar-extended);

  > * {
    grid-column: content;
  }

  mdn-placement-hp-main {
    grid-column: full;
  }
}

.homepage--dark {
  color: var(--color-text-primary);
  color-scheme: dark;
  background-color: var(--color-background-primary);
}

.homepage__section {
  h2 {
    font-size: var(--font-size-large);
    font-weight: 500;
  }
}

.homepage__header {
  display: grid;

  grid-template-areas: "copy mandala" "search mandala";

  column-gap: 1rem;
  justify-content: space-between; /* Move Mandala to the right. */
}

.homepage__header__copy {
  grid-area: copy;
  padding-top: 1rem;
}

.homepage__header__search {
  grid-area: search;
  padding-bottom: 1rem;
}

.homepage__header__mandala {
  grid-area: mandala;
  max-height: 20rem;
  overflow: hidden;

  .mandala svg {
    --height: 35rem;
    display: block;
    height: var(--height);
    margin-top: calc(-1 * var(--height) / 4);
  }
}

@media (--screen-medium-and-wider) {
  .homepage__header {
    grid-column-end: extended-full-end; /* Make space for Mandala. */
  }
}

@media (--screen-small-and-narrower) {
  /* Hide Mandala on smaller screens. */
  .homepage__header {
    grid-template-areas: "copy" "search";
  }

  .homepage__header__mandala {
    display: none;
  }
}
