/* Reference Layout */

.reference-layout {
  display: grid;

  grid-template-areas:
    "sidebar . header . toc"
    "sidebar . body   . toc";
  grid-template-rows: min-content auto;
  grid-template-columns: var(--layout-2-sidebars);

  justify-content: space-between;

  padding-inline: var(--layout-side-padding);

  .reference-layout__content {
    display: contents;
  }

  .reference-layout__content__header {
    grid-area: header;

    h1 {
      margin-top: 0;

      font-size: var(--font-size-largest);
      font-weight: normal;

      line-height: var(--font-line-content);
    }
  }

  .reference-layout__content__body {
    grid-area: body;
    padding-bottom: 3rem;
  }

  .reference-layout__sidebar {
    grid-area: sidebar;
  }

  .reference-layout__toc {
    display: flex;

    flex-wrap: wrap;

    grid-area: toc;

    gap: 0.5rem;
    align-content: start;
    align-items: start;
    justify-content: space-between;
  }

  .reference-layout__sidebar .left-sidebar,
  .reference-layout__toc {
    position: sticky;
    top: var(--sticky-header-height);

    max-height: calc(100vh - var(--sticky-header-height));

    overflow-y: auto;
  }

  @media (--screen-layout-1-sidebar-or-less) {
    grid-template-areas:
      "toc . header"
      "toc . body";
    grid-template-columns: var(--layout-1-sidebar-left);

    .reference-layout__sidebar {
      z-index: 1;

      display: none;

      grid-area: toc;

      background: var(--color-background-primary);
    }
  }

  @media (--screen-layout-no-sidebar) {
    display: block;

    .reference-layout__sidebar {
      position: fixed;
      inset: 0;
      top: var(--sticky-header-height);
      z-index: var(--z-index-sidebar-mobile);

      .left-sidebar {
        padding: 1rem;
      }
    }

    .reference-layout__toc {
      position: unset;
      top: unset;

      max-height: unset;

      overflow-y: unset;
      --toc-header-font-size: var(--font-size-larger);
    }
  }
}
