/* Footer */

.footer {
  color: var(--color-text-secondary);
  background-color: var(--color-background-secondary);
}

/* MDN */

.footer__mdn {
  display: grid;

  grid-template-areas:
    "intro"
    "socials"
    "links";

  row-gap: 2rem;
  column-gap: 1rem;
  align-items: start;

  padding-block: 2rem 1.5rem;
  padding-inline: var(--layout-side-padding);

  @media (width > 480px) {
    grid-template-areas:
      "intro intro"
      "socials socials"
      "links links";
    grid-template-columns: 1fr 1fr;
  }

  @media (width > 640px) {
    grid-template-areas:
      "intro   intro   intro"
      "socials socials socials"
      "links   links   links";
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (width > 1000px) {
    grid-template-areas:
      "intro   links links links"
      "socials links links links";
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
}

/* Logo */

.footer__logo {
  color: var(--color-text-secondary);

  &:hover {
    color: var(--color-text-primary);
  }

  svg {
    display: block;
    fill: currentcolor;
  }
}

/* Intro */

.footer__intro {
  display: grid;

  grid-area: intro;

  row-gap: 1rem;
  justify-items: start;

  p {
    margin: 0;
  }
}

/* Socials */

.footer__socials {
  display: flex;

  grid-area: socials;

  column-gap: 0.75rem;

  padding: 0;
  margin: 0;

  list-style: none;

  a {
    color: var(--color-text-secondary);

    &:hover {
      color: var(--color-text-primary);
    }
  }

  svg {
    display: block;
  }
}

/* List */

.footer__links {
  display: grid;
  row-gap: 0.75rem;
  margin: 0;

  dt {
    font-size: 1.25rem;
  }

  dd {
    display: contents;
    margin: 0;
  }

  ul {
    display: contents;

    padding: 0;
    margin: 0;

    list-style-type: none;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--color-text-primary);
    }
  }

  @media (width > 840px) {
    grid-row-end: span 2;
  }
}

/* Mozilla */

.footer__mozilla {
  display: grid;

  grid-template-columns: min-content 1fr;

  row-gap: 1rem;
  column-gap: 1.5rem;
  align-items: start;
  justify-items: start;

  padding-block: 1.5rem;
  padding-inline: var(--layout-side-padding);

  border-block-start: 1px solid var(--color-border-secondary);

  ul {
    display: flex;

    flex-wrap: wrap;

    column-gap: 1rem;

    padding: 0;
    margin: 0;

    line-height: 2;

    list-style: none;
  }

  p {
    grid-column: span 2;
    margin: 0;
    line-height: 1.5;
  }

  a {
    color: inherit;

    &:hover {
      color: var(--color-text-primary);
    }
  }
}
