.logo__image {
  display: block;

  @media (width > 1100px) {
    &[data-type="mobile"] {
      display: none;
    }
  }

  @media (width <= 1100px) {
    &[data-type="desktop"] {
      display: none;
    }
  }
}

.logo__letter,
.logo__cursor {
  fill: light-dark(var(--color-blue), var(--color-blue-light));
}

.logo__text {
  fill: var(--color-text-primary);
}
