.switch {
  position: relative;
  display: inline-flex;
  align-items: center;

  input {
    width: 3em;
    height: 0;

    margin: 0;

    opacity: 0;

    &:checked + .slider {
      background-color: var(--text-link);

      &::before {
        right: 3.25%;
        left: 53.25%;
      }
    }

    &:focus-visible + .slider {
      outline-style: auto;
      outline-color: var(--accent-primary);
      outline-offset: 1px;
    }
  }

  .slider {
    position: absolute;

    width: 3em;
    height: 1.5em;

    cursor: pointer;

    background-color: var(--text-secondary);
    border-radius: 1.5em;

    transition: 0.4s;

    &::before {
      position: absolute;
      top: 7.5%;
      right: 53.25%;
      bottom: 7.5%;
      left: 3.25%;

      content: "";

      background-color: var(--background-primary);
      border-radius: 50%;

      transition: 0.4s;
    }
  }

  .label {
    margin-left: 0.5em;
  }
}
