/* Breadcrumbs */

:root {
  --breadcrumbs-bar-height: 2rem;
}

.breadcrumbs-bar {
  display: flex;

  column-gap: 1rem;
  align-items: center;
  justify-content: end;

  max-width: 100vw; /* Workaround, remove later. */
  height: var(--breadcrumbs-bar-height);

  padding-inline: var(--layout-side-padding);

  text-wrap: nowrap;

  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-primary);
  border-width: 1px 0;

  &[data-scheme="dark"] {
    color: var(--color-text-primary);
    color-scheme: dark;
  }

  mdn-toggle-sidebar {
    display: none;
  }

  @media (--screen-layout-1-sidebar-or-less) {
    &:has(mdn-toggle-sidebar) {
      padding-left: 0;
    }

    mdn-toggle-sidebar {
      display: block;
    }
  }

  @media (--screen-small-and-narrower) {
    column-gap: 0.5rem;
    padding-inline: 0;
  }

  @media screen and (width <= 480px) {
    column-gap: 0.25rem;
  }
}
