@import url("../code-example/common.css");

.section__prose {
  line-height: var(--font-line-content);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

  h1 {
    margin-top: 0;
    font-size: var(--font-size-largest);
  }

  h2 {
    font-size: var(--font-size-larger);
  }

  h3 {
    font-size: var(--font-size-large);
  }

  h4 {
    font-size: var(--font-size-normal);
    font-weight: 500;
  }

  h5,
  h6 {
    font-size: var(--font-size-small);
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  code {
    padding: 0.125em 0.25em;

    font-family: var(--font-family-code);
    font-size-adjust: 0.5;

    background-color: var(--color-background-secondary);
    border-radius: 0.25em;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 0.5rem 0.75rem;
      border: 1px solid var(--color-text-secondary);
    }

    th {
      font-weight: normal;
      text-align: left;
      background-color: var(--color-background-secondary);
    }
  }

  .code-example,
  mdn-code-example,
  mdn-live-sample-result {
    margin: 1rem 0;

    & + & {
      margin-top: 1.5rem;
    }
  }

  interactive-example {
    display: block;
    height: 375px;
    margin: 1rem 0;

    &[name^="JavaScript Demo:" i] {
      height: 444px;
    }

    &[height="shorter"] {
      height: 364px;
    }

    &[height="taller"] {
      height: 654px;
    }

    &[height="tabbed-shorter"] {
      height: 351px;
      margin-top: 1.5rem;
    }

    &[height="tabbed-standard"] {
      height: 421px;
    }

    &[height="tabbed-taller"] {
      height: 631px;
    }

    @media (--screen-medium-and-narrower) {
      height: 675px;

      &[name^="JavaScript Demo:" i] {
        height: 513px;
      }

      &[height="shorter"] {
        height: 433px;
      }

      &[height="taller"] {
        height: 725px;
      }

      &[height="tabbed-shorter"] {
        height: 487px;
      }

      &[height="tabbed-standard"] {
        height: 548px;
      }

      &[height="tabbed-taller"] {
        height: 774px;
      }
    }
  }
}
