/** Article footer. */

.article-footer {
  padding: 1rem;
  margin: 0;

  background-color: var(
    --color-background-secondary,
    light-dark(#f9f9f9, #313131)
  );
  border: 1px solid var(--color-border-primary, light-dark(#cdcdcd, #858585));
  border-radius: var(--elem-radius, 0.25rem);
  box-shadow: var(--shadow-01, 0 1px 2px #2b2a330d);

  @media (width <= /* $screen-md */ 769px) {
    margin: 3rem;

    /* Reduce space to article content. */
    margin-top: 0;
  }

  @media (width <= /* $screen-sm */ 426px) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.article-footer__inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  h2 {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .emoji {
    /* Ensure emojis are shown in color. */
    font-family: initial;
  }
}

.article-footer__svg-container {
  position: relative;

  svg {
    position: absolute;
    top: 0;
    right: 0;

    width: 20%;
    height: auto;
  }
}

.article-footer__contribute {
  margin-top: 0.25rem;
}

.article-footer__last-modified {
  margin-top: 2rem;
  margin-bottom: 0;
}
