:root {
  color-scheme: light dark;
}

*,
::before,
::after {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  min-height: 100svh;
  margin: 0;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-text);
}
