/* Normalize */

*,
::before,
::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

[hidden] {
  display: none !important;
}

/* Motion */

html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

/* Typography */

body {
  font-family: var(--font-body);
  font-size: var(--base-font-size);

  line-height: var(--font-content-line-height);

  color: var(--color-text-primary);

  background-color: var(--color-background-primary);
  text-rendering: optimizespeed;
}
