.breadcrumbs {
  display: flex;

  align-items: center;

  padding: 0;
  margin: 0;
  margin-right: auto;

  list-style: none;

  li {
    display: flex;
    place-items: center;

    a {
      color: var(--color-text-primary);

      &:not(:hover) {
        text-decoration: none;
      }
    }

    svg {
      margin-inline: 0.5rem;
      fill: var(--color-text-secondary);
    }
  }
}
