.breadcrumbs {
  --breadcrumbs-divider-color: var(--color-text-secondary);
  --breadcrumbs-link-color: var(--color-text-primary);

  display: flex;

  align-items: center;

  padding: 0;
  margin: 0;
  margin-right: auto;

  list-style: none;

  li {
    display: flex;
    place-items: center;

    a {
      color: var(--breadcrumbs-link-color);

      &:not(:hover) {
        text-decoration: none;
      }
    }

    &:not(:last-child)::after {
      width: 1em;
      height: 1em;

      margin-inline: 0.75em;

      vertical-align: middle;

      content: "";

      background-color: var(--breadcrumbs-divider-color);

      mask-image: url("./divider.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: auto;
    }
  }

  @media (--screen-small-and-narrower) {
    @media (hover: hover) {
      /* Hide grand-parents on hover devices. */
      li:not(:nth-last-child(-n + 2)) {
        display: none;
      }
    }

    @media (hover: none) {
      overflow-x: auto;
      scrollbar-color: transparent transparent;
    }
  }
}
