.blog-post__main {
  display: grid;

  grid-template-columns: var(--layout-1-sidebar-right);
  grid-auto-flow: dense;

  row-gap: 3rem;

  padding-inline: var(--layout-side-padding);

  @media (--screen-layout-no-sidebar) {
    grid-template-columns: var(--layout-no-sidebar);
  }
}

.blog-post__content {
  grid-column: content;
}

.blog-post__sidebar {
  position: sticky;
  top: var(--sticky-header-height);

  grid-column: sidebar;

  max-height: calc(100vh - var(--sticky-header-height));

  overflow-y: auto;

  @media (--screen-layout-no-sidebar) {
    display: none;
  }
}
