.blog-post__main {
  display: grid;

  grid-template-areas:
    "post"
    "newsletter";

  gap: 3rem;

  width: 100%;

  padding-inline: var(--layout-side-padding);

  @media (--screen-large-and-wider) {
    grid-template-areas:
      "post toc"
      "newsletter toc";
    grid-template-columns: minmax(auto, 100%) minmax(0, 12rem);
  }

  @media (--screen-xlarge-and-wider) {
    grid-template-areas:
      "nothing post toc"
      "nothing newsletter toc";
    grid-template-columns: minmax(auto, 1fr) minmax(0, 52rem) minmax(15rem, 1fr);
  }

  @media (--screen-xxlarge) {
    grid-template-areas:
      "toc post place"
      "toc newsletter place";
    grid-template-columns: minmax(15rem, 1fr) minmax(0, 52rem) minmax(
        15rem,
        1fr
      );
  }
}

.blog-post__content {
  grid-area: post;
}

.blog-post__sidebar {
  --offset: var(--sticky-header-height);
  display: none;
  grid-area: toc;

  .blog-post__toc {
    position: sticky;
    top: var(--offset);

    max-height: calc(100vh - var(--offset));

    margin-top: 0;

    overflow: auto;
  }

  @media (--screen-large-and-wider) {
    display: flex;
    flex-direction: column;
    grid-area: toc;

    .blog-post__toc {
      margin-top: 2rem;
    }
  }

  @media (--screen-xxlarge) {
    display: contents;

    .blog-post__toc {
      position: sticky;
      top: var(--offset);

      height: max-content;

      /* mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgb(0, 0, 0) 3rem calc(100% - 3rem),
        rgba(0, 0, 0, 0) 100%
      ); */
      max-height: calc(100vh - var(--offset));

      overflow: auto;
    }

    .place.side {
      grid-area: place;
      margin-top: 0;

      > .pong-box2,
      > .pong-box {
        margin-top: 2rem;
      }
    }
  }
}
