/* observatory color definitions */
.observatory {
  --progress-color: var(--observatory-accent);

  --observatory-accent: light-dark(
    var(--color-purple-20),
    var(--color-purple-80)
  );
  --observatory-accent-light: light-dark(
    var(--color-purple-20),
    var(--color-purple-80)
  );

  --observatory-pass-icon-bg: light-dark(
    var(--color-green-90),
    var(--color-green-20)
  );
  --observatory-pass-icon-color: light-dark(
    var(--color-green-50),
    var(--color-green-80)
  );
  --observatory-fail-icon-bg: light-dark(
    var(--color-red-90),
    var(--color-red-10)
  );
  --observatory-fail-icon-color: light-dark(
    var(--color-red-50),
    var(--color-red-80)
  );

  --observatory-table-bg: light-dark(var(--color-white), var(--color-gray-10));
  --observatory-table-bg-alternate: light-dark(
    var(--color-gray-90),
    var(--color-gray-10)
  );
  --observatory-table-header-bg: light-dark(
    var(--color-gray-90),
    var(--color-gray-10)
  );

  --observatory-grade-a-bg: light-dark(#d2fadd, #265c3d);
  --observatory-grade-a-border: light-dark(#017a37, #89fca1);
  --observatory-grade-b-bg: light-dark(#e8fad2, #52662a);
  --observatory-grade-b-border: light-dark(#547a01, #d5fc88);
  --observatory-grade-c-bg: light-dark(#faf8d2, #66602a);
  --observatory-grade-c-border: light-dark(#7a7001, #fcf988);
  --observatory-grade-d-bg: light-dark(#fae8d2, #5c3d26);
  --observatory-grade-d-border: light-dark(#a65001, #ff6a00);
  --observatory-grade-f-bg: light-dark(#fad2d2, #5c2626);
  --observatory-grade-f-border: light-dark(#aa0000, #fc8888);
  --observatory-arrow-down-color: light-dark(
    var(--color-red-20),
    var(--color-red-80)
  );
  --observatory-arrow-up-color: light-dark(
    var(--color-green-50),
    var(--color-green-80)
  );

  --form-invalid-color: light-dark(var(--color-red-50), var(--color-red-80));

  /* icons */
  --alert-circle-img: url("./assets/alert-circle.svg");
}
