/* Compat (mobile *and* desktop). */

table {
  display: grid;
  grid-auto-flow: row dense;

  thead {
    tr {
      display: contents;

      th,
      td {
        display: grid;
        grid-template-columns: subgrid;
      }
    }
  }

  tbody {
    display: contents;

    tr {
      display: contents;

      th,
      td {
        display: contents;

        button {
          display: grid;
          grid-template-columns: subgrid;
        }

        .timeline {
          grid-column: 1 / -1;
        }
      }
    }
  }
}

.bc-on-github {
  font-size: var(--compat-type-smaller-font-size);
}

.bc-table {
  width: 100%;

  margin: 0;

  border-spacing: 0;
  border-collapse: separate;

  border: 1px solid var(--compat-border-primary);
  border-radius: var(--compat-elem-radius);

  td,
  th {
    padding: 0;
    padding: 0.4rem;

    font-size: var(--compat-type-smaller-font-size);
    font-weight: 500;

    border: 1px solid var(--compat-border-secondary);
    border-width: 0 0 1px 1px;

    code {
      font-size: var(--compat-type-smaller-font-size);
    }
  }

  th {
    padding: 0.4rem;
    vertical-align: bottom;
    background: var(--compat-background-primary);
  }

  thead {
    line-height: 1;
    white-space: nowrap;
  }

  /*
     * these props allow us to add border-radius to the table.
     * border-collapse: separate gets in the way of this
     * being easy.
     */
  tbody {
    tr {
      height: 3rem;

      @media (width >= /* $screen-sm */ 426px) {
        &:last-child {
          th,
          td {
            border-bottom-width: 0;
          }
        }
      }

      th {
        vertical-align: middle;
        border-left-width: 0;
      }
    }

    .bc-support {
      vertical-align: top;

      button {
        width: 100%;
        cursor: pointer;
      }

      &.bc-supports-no > button > span {
        color: var(--compat-text-primary-red);
      }

      &.bc-supports-partial > button > span {
        color: var(--compat-text-primary-yellow);
      }

      &.bc-supports-preview > button > span {
        color: var(--compat-text-primary-blue);
      }

      &.bc-supports-yes > button > span {
        color: var(--compat-text-primary-green);
      }
    }
  }

  .bc-supports {
    margin-bottom: 1rem;

    .icon-wrap {
      background: var(--compat-background-primary);
    }
  }

  .bc-supports.bc-supports-removed-partial {
    .bcd-cell-text-copy {
      color: var(--compat-text-primary-yellow);
    }
  }

  .icon-wrap {
    .bc-support-level {
      position: absolute !important;

      width: 1px !important;
      height: 1px !important;

      padding: 0 !important;
      margin: -1px !important;

      overflow: hidden !important;

      white-space: nowrap !important;

      /* visually-hidden */
      border: 0 !important;

      clip: rect(1px, 1px, 1px, 1px) !important;
      clip-path: inset(50%) !important;
    }
  }

  .bc-support {
    > button > .icon-wrap {
      display: block;
    }

    .icon.icon-removed-partial {
      background-color: var(--compat-icon-critical);

      /* override icon */
      mask-image: url("./icons/status/no.svg");
    }

    .timeline .icon.icon-removed-partial {
      background-color: var(--compat-icon-primary);
      mask-image: url("./icons/status/partial.svg");
    }
  }

  .bc-support.bc-supports-removed-partial {
    .bcd-cell-text-copy {
      color: var(--compat-text-primary-red);
    }
  }

  .bc-feature {
    display: flex;

    align-items: center;

    width: 100%;

    text-align: left;

    border: none;

    > * {
      flex-basis: max-content;
      border: none !important;
    }
  }

  .bc-feature-depth-2 {
    border-left: 7px solid var(--compat-border-primary);
  }

  .bc-feature-depth-3 {
    border-left: 15px solid var(--compat-border-primary);
  }

  .timeline {
    display: none;
  }

  .bc-has-history:focus-within .timeline {
    display: initial;
  }
}

.bc-head-txt-label {
  line-height: 1;

  white-space: nowrap;

  writing-mode: vertical-rl;

  transform: rotate(180deg);
  text-orientation: sideways;
}

.bc-support {
  vertical-align: middle;
  text-align: center;
}

.bc-level-no {
  background-color: var(--compat-icon-critical);
}

.bc-level-preview {
  background-color: var(--compat-icon-information);
}

.bc-legend-items-container {
  display: flex;

  flex-wrap: wrap;

  gap: 1.5rem;

  margin-bottom: 2rem;

  font-size: var(--compat-type-smaller-font-size);
}

.bc-legend-tip {
  margin-top: 0;
  margin-bottom: 1rem;

  font-size: var(--compat-type-smaller-font-size);
  font-variation-settings: "slnt" -10;
  font-style: italic;
}

.bc-legend-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.bc-legend-item-dt {
  display: flex;

  .icon {
    background-color: var(--compat-icon-primary);
  }
}

/* Row with desktop / mobile icons. */
.bc-platforms {
  th {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  td {
    border: none;
  }
}

/* Row with browser names. */
.bc-browsers {
  th {
    display: flex;

    flex-direction: column;

    gap: 0.25rem;
    align-items: center;
    justify-content: end;

    vertical-align: bottom;
  }

  td {
    border-width: 0 0 1px;
  }
}

.bc-notes-list {
  position: relative;

  width: 100%;

  margin: 0.5rem 0;

  text-align: left;

  &::before {
    position: absolute;
    left: 7px;
    z-index: -1;

    width: 2px;
    height: calc(100% - 0.25rem);

    margin-top: 0.25rem;

    content: "";

    background: var(--compat-border-primary);
  }

  /* complicated selector to cover the last bit of the grey line above. */
  .bc-notes-wrapper:last-child dd:last-child {
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      left: 7px;
      z-index: -1;

      width: 2px;
      height: calc(100% - 6px);

      content: "";

      background: var(--compat-background-primary);
    }
  }

  .bc-level-yes.icon.icon-yes {
    /* override icon */
    background-color: var(--compat-icon-success);
    mask-image: url("./icons/status/yes-circle.svg");
  }

  .bc-supports-dd {
    .icon {
      background: var(--compat-border-primary);
      border: 3px solid var(--compat-background-primary);
      border-radius: 50%;

      mask-image: none;
    }
  }

  .bc-version-label {
    display: inline;
  }

  abbr {
    margin-right: 4px;
    text-decoration: none;
  }

  dd {
    padding-left: 1.5rem;
    margin-bottom: 1rem;
    text-indent: -1.5rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

.bc-notes-wrapper {
  margin-bottom: 1rem;
  color: var(--compat-text-primary);

  &:last-child {
    margin-bottom: 0;
  }
}

dl.bc-notes-list {
  dt.bc-supports {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  dd.bc-supports-dd {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.only-icon span {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;

  padding: 0 !important;
  margin: -1px !important;

  overflow: hidden !important;

  white-space: nowrap !important;

  /* visually-hidden */
  border: 0 !important;

  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
}

.bc-table-row-header {
  width: 100%;
  padding: 0.25em;
  text-align: left;

  code {
    overflow: hidden;
  }

  .bc-icons {
    display: inline-flex;

    gap: 0.5ch;

    margin-left: 0.5ch;

    vertical-align: text-top;

    .icon {
      background-color: var(--compat-icon-secondary);

      &:hover {
        background-color: var(--compat-icon-primary);
      }
    }
  }
}

.bc-github-link {
  font: var(--compat-type-smaller-font-size);
}

.main-page-content {
  .bc-legend {
    dd,
    dt {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  .bc-supports-dd {
    margin: 0;
  }
}
