/* Compat (mobile) */

@media (--screen-xsmall) {
  .bc-table {
    grid-template-columns: auto;

    thead {
      display: none;
    }

    tr {
      td.bc-support {
        display: block;
        border: none;
        border-top: 1px solid var(--color-border-secondary);

        &:last-child {
          border-bottom: 1px solid var(--color-border-secondary);
        }
      }
    }

    .timeline {
      /* Align timeline icons with summary icon. */
      margin-left: 0.25rem;
    }

    tr:not(:first-of-type) .bc-feature {
      /* Feature separator. */
      border-top: 2px solid var(--color-border-secondary);
    }

    .bc-feature,
    .bc-support > button {
      display: flex;

      flex-wrap: wrap;

      gap: 0.5rem;
      align-content: center;
    }
  }

  .bc-on-github a {
    white-space: nowrap;
  }

  .table-container {
    overflow-x: auto;
  }
}
