.menu {
    position: relative;
}

.menu__tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 0.5rem;

    button {
        margin: 0;
        padding: 0.7rem;
        display: flex;
        column-gap: 0.25rem;
        align-items: center;
        background-color: transparent;
        border: 1px solid transparent;
        border-block-end: none;
        border-radius: 2px;
        color: var(--text-primary);
        white-space: nowrap;
        font: inherit;
        cursor: pointer;

        &:is([aria-expanded="true"], :hover) {
            background-color: var(--background-blue);
            color: var(--text-blue);

            svg path {
                fill: var(--blue);
            }
        }

        &[aria-expanded="true"] {
            z-index: 1;
        }

        svg {

            [aria-expanded="true"] & {
                scale: -1;
            }
        }
    }

    /* learn is orange*/
    button[aria-controls="menu__learn"] {

        &:is([aria-expanded="true"], :hover) {
            background-color: var(--background-orange);
            color: var(--text-orange);

            svg path {
                fill: var(--orange);
            }
        }
    }

    /* tools is purple*/
    button[aria-controls="menu__tools"] {

        &:is([aria-expanded="true"], :hover) {
            background-color: var(--background-purple);
            color: var(--text-purple);

            svg path {
                fill: var(--purple);
            }
        }
    }

    /* about is green*/
    button[aria-controls="menu__about"] {

        &:is([aria-expanded="true"], :hover) {
            background-color: var(--background-green);
            color: var(--text-green);

            svg path {
                fill: var(--green);
            }
        }
    }

    a {
        padding: 0.7rem;
        color: var(--text-primary);
        &:hover {
            text-decoration: none;
        }
    }
}

.menu__panel {
    position: absolute;
    inset: 3.6rem 0 auto 0;
    margin-block-start: -1px;
    border: 1px solid light-dark(var(--gray-4), var(--gray-6));
    border-radius: 2px;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 10px 1px hsl(0, 0%, 0%, 0.05);

    h4 {
        margin: 0;
        padding: 1.4rem;
        font-weight: normal;
        grid-column: span 3;
        background-color: var(--background-blue);

        a {
            color: var(--link-normal);
        }
    }
}

.menu__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu__content-full {
    display: grid;
    row-gap: 1.6rem;
    padding: 1.6rem;
    grid-column: span 3;
}

.menu__content-primary {
    display: grid;
    row-gap: 1.6rem;
    padding: 1.6rem;
}

.menu__content-secondary {
    padding: 1.6rem;
    display: grid;
    row-gap: 1.6rem;
    grid-column: span 2;
    grid-template-columns: subgrid;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1.6rem;
        bottom: 1.6rem;
        width: 1px;
        background-color: var(--gray-2);
    }
}

.menu__list {
    margin: 0;
    display: grid;
    row-gap: 0.825rem;
    align-content: start;

    dt {
        letter-spacing: 0.05em;
        font-size: 0.825rem;
        text-transform: uppercase;
        color: var(--text-secondary);
    }

    dd {
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        row-gap: 0.825rem;
    }

    a {
        color: var(--text-primary);
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.menu__featured {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    row-gap: 1.6rem;

    a {
        display: inline flex;
        align-items: center;
        column-gap: 0.5rem;
        color: var(--text-primary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        svg {
            fill: var(--text-secondary);
        }
    }
}

#menu__learn {
    
    h4 {
        background-color: var(--background-orange);

        a {
            color: var(--text-orange);
        }
    }
}

#menu__tools {
    
    h4 {
        background-color: var(--background-purple);

        a {
            color: var(--text-purple);
        }
    }
}

#menu__about {
    
    h4 {
        background-color: var(--background-green);

        a {
            color: var(--text-green);
        }
    }
}
