html {
  --observatory-bg: rgba(242, 242, 245, 1);
  --observatory-bg-code: #e1e1e1;
  --observatory-bg-secondary: rgba(255, 255, 255, 1);
  --observatory-color: #000;
  --observatory-color-secondary: rgba(105, 105, 105, 1);
  --observatory-inverse-color: rgba(255, 255, 255, 1);
  --observatory-inverse-color-secondary: rgba(179, 179, 179, 1);
  --observatory-accent: #5a23d7;
  --observatory-accent-light: #5a23d7aa;
  --observatory-border: rgba(228, 228, 246, 1);
  --observatory-border-accent: rgba(90, 35, 215, 1);
  --observatory-pass-icon-bg: rgba(229, 250, 230, 1);
  --observatory-pass-icon-color: rgba(0, 121, 54, 1);
  --observatory-fail-icon-bg: rgba(250, 229, 229, 1);
  --observatory-fail-icon-color: rgba(211, 0, 56, 1);
  --observatory-table-bg: rgba(255, 255, 255, 1);
  --observatory-table-bg-alternate: #f9f9fb;
  --observatory-table-header-bg: rgba(249, 249, 251, 1);
  --observatory-grade-a-bg: #d2fadd;
  --observatory-grade-a-border: #017a37;
  --observatory-grade-b-bg: #e8fad2;
  --observatory-grade-b-border: #547a01;
  --observatory-grade-c-bg: #faf8d2;
  --observatory-grade-c-border: #7a7001;
  --observatory-grade-d-bg: #fae8d2;
  --observatory-grade-d-border: #a65001;
  --observatory-grade-f-bg: #fad2d2;
  --observatory-grade-f-border: #a00;
  --observatory-arrow-down-color: rgba(158, 0, 39, 1);
  --observatory-arrow-up-color: rgba(0, 121, 54, 1);

  --font-body: Inter, var(--font-fallback);
}

.observatory {
  --border-radius: 0.3rem;
  --code-background-block: var(--observatory-bg-code);
  --spacing: 2rem;
  background-color: var(--observatory-bg);

  h1,
  h2 {
    font-style: normal;
    font-weight: 600;
    letter-spacing: var(--heading-letter-spacing);
  }

  .obs-none {
    color: var(--observatory-color-secondary);
  }

  .obs-score-value {
    margin-right: 0.5rem;
  }

  .obs-pass-icon {
    svg.pass {
      path {
        fill: var(--observatory-pass-icon-bg);
      }

      circle {
        fill: var(--observatory-pass-icon-color);
      }
    }

    svg.fail {
      path {
        fill: var(--observatory-fail-icon-bg);
      }

      circle {
        fill: var(--observatory-fail-icon-color);
      }
    }
  }

  .accent {
    color: var(--observatory-accent);
  }

  .observatory-wrapper {
    display: grid;
    grid-template-areas: "header header header" "main main main" ". sidebar .";
    grid-template-columns: 1rem 1fr 1rem;
    max-width: var(--max-width);
    padding: 1.5rem 1rem;

    section.header {
      grid-area: header;
    }

    section.main {
      grid-area: main;
    }

    a {
      color: var(--observatory-color);
      text-decoration: underline;
      text-decoration-color: var(--observatory-color-secondary);

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    .feedback-link {
      --feedback-link-icon: var(--observatory-color-secondary);
      --text-link: var(--observatory-color-secondary);
      color: var(--observatory-color-secondary);
      display: block;
      font-size: var(--type-tiny-font-size);
      margin-top: 1.5rem;
    }

    .feedback-link.faq-link::before {
      /* mask-image: url("../assets/icons/message-question.svg"); */
    }

    .error {
      color: var(--form-invalid-color);
      margin-top: 0.5rem;

      &::before {
        background-color: var(--form-invalid-color);
        content: "";
        display: inline-block;
        height: 1.15rem;
        margin-bottom: 0.25rem;
        margin-right: 0.5rem;
        /* mask-image: url("../assets/icons/alert-circle.svg"); */
        mask-position: center;
        mask-repeat: no-repeat;
        vertical-align: middle;
        width: 1.5em;
      }

      + form input {
        outline-color: var(--observatory-border-accent);
      }
    }
  }

  .scroll-container {
    margin-bottom: 1.5rem;
    margin-top: 0.8rem;
    overflow-x: auto;
    overscroll-behavior-x: none;
  }
}
